- cache( "row-#{movement.cache_key}" ) do
	.entry.style-media.media.type-post
		%figure.media-object.pull-left.entry-thumbnail.hidden-xs
			%img{ src: movement.avatar, width: 230, height: 230 }
		.media-body
			%header.entry-header
				%h3.entry-title
					= link_to movement.title, movement.url
			%p
				= raw movement.description
				%a.more-link{ href: movement.url }
					Continue
					%i.fa.fa-arrow-right
