
%a.pull-right.btn.btn-danger{ href: movement_path( @movement ), data: { method: :delete, confirm: 'Are you Sure?' } }
	Delete

%h1
	Edit Movement:
	= @movement.title

= render 'form'

%hr
= link_to 'Show', @movement
= link_to 'Back', movements_path



%br
%br
%br
%br