
#content.content.section.row
	.col-md-8.bg-base.col-lg-8.col-xl-9
		.ribbon.ribbon-highlight
			%ol.breadcrumb.ribbon-inner
				%li
					%a{ href: '/' }
						Home
				%li.active
					Movements

		.entries
			%h2
				= pluralize @movements.total_count, 'Movement'
			
			= raw paginate @movements
			
			- @movements.each do |movement|
				= render 'row', movement: movement

	
	.sidebar.col-md-4.col-lg-4.col-xl-3
		= render 'application/sidebar'
