.col-xs-12
	.media
		.media-left
			%a{ href: workout.url }
				%img.media-object{ src: workout.avatar, alt: workout.title }
		.media-body
			%h4.media-heading{ style: "font-family: 'PT Serif', serf;" }
				%a{ href: workout.url, style: "font-size:30px;" }
					= workout.title
			.content-preview
				= raw workout.description

				%a.btn.btn-lg{ href: workout.url }
					Continue
					%i.fa.fa-chevron-right
