%article.entry.style-media.media.type-post
	%figure.media-object.pull-left.entry-thumbnail.hidden-xs
		/ to disable lazy loading, remove data-src and data-src-retina
		%img{:alt => "", "data-src" => workout.avatar, "data-src-retina" => workout.avatar, :height => "230", :src => image_path('app_theme/placeholder.gif'), :width => "230"}/
		/ fallback for no javascript browsers
		%noscript
			%img{:alt => "", :src => workout.avatar}/
	.media-body
		%header.entry-header
			%h3.entry-title
				%a{ href: workout_path( workout ), :rel => "bookmark"}
					=workout.title
			.entry-meta
				%span.entry-date
					on
					%time{:datetime => workout.publish_at.to_formatted_s(:iso8601) }
						= workout.publish_at.strftime("%B %e %Y")
		%p
			= workout.description
			%a.more-link{ href: workout_path( workout ) }
				Continue
				%i.icon.icon-long-arrow-right