.container
	.row
		.col-xs-12
			#login-box
				#login-box-holder
					.row
						.col-xs-12
							%header#login-header
								#login-logo
									= image_tag 'amrap_logo_wht.png'
							= render 'application/signin_widget', args: { resource_name: resource_name }
				-##login-box-footer
					.row
						.col-xs-12
							Already have an account?
							%a{ href: main_app.login_path }
								Log In
