%p
	Happy Valentines Day #{@card.to_name}!

%p
	= @card.from_name
	must love you very much. They sent you a special Valentine.
	%a{ href: main_app.card_url(@card.pub_id) }
		You can view it here
%p
	You can send a card of your own
	%a{ href: main_app.new_card_url() }
		here.

%p
	Happy Valentine's Day!

%p
	from, the team at AMRAPLife.com
