%table.table
	%thead
		%th
		%th
			S
		%th
			M
		%th
			L
		%th
			XL
		%th
			2XL
	%tbody
		%tr
			%td
				Length (inches)
			%td
				27
			%td
				28
			%td
				29
			%td
				30
			%td
				31
		%tr
			%td
				Width (inches)
			%td
				18
			%td
				20
			%td
				22
			%td
				24
			%td
				26

%h4
	Care Instructions
%ul
	%li
		Machine wash cold, inside-out, gentle cycle with mild detergent and similar colors. Use non-chlorine bleach, only when necessary. No fabric softeners.
	%li
		Tumble dry low, or hang-dry for longest life.
	%li
		Cool iron inside-out if necessary. Do not iron decoration.
	%li
		Do not dry clean.



