#content.content.section.row
	- cache( "about-1" ) do
		.col-md-8.bg-base.col-lg-8.col-xl-9
			.ribbon.ribbon-highlight
				%ol.breadcrumb.ribbon-inner
					%li
						%a{:href => swell_media.root_path()} Home
					%li.active{:title => "About Us" }
						About Us
			%article.entry.style-single.type-post
				.entry-content
					%h2
						Living &nbsp;
						%span{ style: 'font-weight:bold;font-size:125%;margin-right:-0.20em;' }
							A
						s &nbsp;
						%span{ style: 'font-weight:bold;font-size:125%;margin-right:-0.20em;' }
							M
						any &nbsp;
						%span{ style: 'font-weight:bold;font-size:125%;margin-right:-0.20em;' }
							R
						eps &nbsp;
						%span{ style: 'font-weight:bold;font-size:125%;margin-right:-0.20em;' }
							A
						s &nbsp;
						%span{ style: 'font-weight:bold;font-size:125%;margin-right:-0.20em;' }
							P
						ossible 
					%p
						AMRAP stands for As Many Reps As Possible. It is a term from high-intensity exersize, massively popularized by CrossFit that challenges you to work as hard as you can in a given time-frame. AMRAP workouts require participants to complete as many movements as they can in a given timeframe.
					
					%p
						We recognized that's a lot like life: we have a fixed amount of time and we want to live as fully as possible.
					%h2
						Remarkable Fitness for Regular People
					%p
						Our mission is to help you be as fit as you want to be. We believe that almost anyone can benefit from a higher level of fitness, but so many programs are just intimidating. Regular people don't have hours of free time to dedicate to themselves and their health. Regular people don't have hundreds of dollars to spend on gym memberships or personal training or fancy programs.
					%h2
						We're not Fitness as Usual
					%p
						Have you noticed that there are entire cable TV channels dedicated to separating you from your money with promises of 6 week 6 packs? Ridiculous orange people parading around without an ounce of bodyfat.
					%h2
						Life is a Team Sport
					%p
						We at AMRAP Life strive to help each other live as fully as possible. We seek to inform and inspire each other to be the best that we can be.

					%p
						%center
							%h3{ style: 'text-size:120%;' } 
								)°(

					.row
						.col-xs-4
							%center
								%h4
									Gk
								.well
									%a{ href: swell_media.browse_index_path( author: 1) }
										= image_tag 'gk.png', class: 'img img-responsive'
						.col-xs-4
							%center
								%h4
									Mike
								.well
									%a{ href: swell_media.browse_index_path( author: 2) }
										= image_tag 'mike.png', class: 'img img-responsive'
						.col-xs-4
							%center
								%h4
									Tina
								.well
									%a{ href: swell_media.browse_index_path( author: 3) }
										= image_tag 'tina.png', class: 'img img-responsive'
			
				%hr/
	.sidebar.col-md-4.col-lg-4.col-xl-3
		= render 'application/sidebar'
