#content.content.section.row
	.col-md-8.bg-base.col-lg-8.col-xl-9
		.ribbon.ribbon-highlight
			%ol.breadcrumb.ribbon-inner
				%li
					%a{ href: swell_media.root_path() }
						Home
				%li.active
					CrossFit Terms
		.entries
			%h1
				The Ultimate Guide to CrossFit Terms

			.addthis_inline_share_toolbox.hidden-xs.hidden-sm

			%p
				CrossFit is an entire subculture onto itself. Walking into a CrossFit gym can be intimidating enough without having to know a TABATA from an EMOM. CrossFit is filled with all kinds of crazy jargon that can be confusing and disorienting to newcomers. More importantly, if you don't have a grasp on some of the cues your coach is providing, you can get yourself injured. Luckily, we've got you covered. Here is the most comprehensive guide to CrossFit-speak ever compiled. We've got over 300 terms (and growing!) defined for you. If you feel we've missed something, or there's a term you still don't understand, please 
				%a{ href: '#comments' }
					leave a comment below
				or
				%a{ href: '/contacts/new' }
					drop us a line 
				and let us know!

			.anchor#top
			%a{ href: '#a', style: 'margin-left: 0.66em;' }
				A
			%a{ href: '#b', style: 'margin-left: 0.66em;' }
				B
			%a{ href: '#c', style: 'margin-left: 0.66em;' }
				C
			%a{ href: '#d', style: 'margin-left: 0.66em;' }
				D
			%a{ href: '#e', style: 'margin-left: 0.66em;' }
				E
			%a{ href: '#f', style: 'margin-left: 0.66em;' }
				F
			%a{ href: '#g', style: 'margin-left: 0.66em;' }
				G
			%a{ href: '#h', style: 'margin-left: 0.66em;' }
				H
			%a{ href: '#i', style: 'margin-left: 0.66em;' }
				I
			%a{ href: '#j', style: 'margin-left: 0.66em;' }
				J
			%a{ href: '#l', style: 'margin-left: 0.66em;' }
				L
			%a{ href: '#m', style: 'margin-left: 0.66em;' }
				M
			%a{ href: '#n', style: 'margin-left: 0.66em;' }
				N
			%a{ href: '#o', style: 'margin-left: 0.66em;' }
				O
			%a{ href: '#p', style: 'margin-left: 0.66em;' }
				P
			%a{ href: '#q', style: 'margin-left: 0.66em;' }
				Q
			%a{ href: '#r', style: 'margin-left: 0.66em;' }
				R
			%a{ href: '#s', style: 'margin-left: 0.66em;' }
				S
			%a{ href: '#t', style: 'margin-left: 0.66em;' }
				T
			%a{ href: '#u', style: 'margin-left: 0.66em;' }
				U
			%a{ href: '#v', style: 'margin-left: 0.66em;' }
				V
			%a{ href: '#w', style: 'margin-left: 0.66em;' }
				W
			%a{ href: '#y', style: 'margin-left: 0.66em;' }
				Y
			%a{ href: '#z', style: 'margin-left: 0.66em;' }
				Z

			%ul.crossfit-terms
				.anchor#a
				.anchor#abmat
				%li
					%strong Abmat: 
					an abmat is that funny little square-shaped mat that you place under your lower-back while performing situps. The abmat increases the range of motion of your situps and allows the movement to really focus on your abdominal muscles. When you look at it in profile, you'll notice that it has a thick side that tapers to a narrower side. Place the abmat under your lower back so that the thick side is toward your butt. Maintain contact between the abmat and your lower back until the top of your situp.

				.anchor#absu
				%li
					%strong 
						Abmat Sit-up 
					(aka 
					%strong
						absu
					): 
					one thing you realize quickly is that Crossfit almost never does anything the 'normal' way. Take the humble sit-up. What could be simpler than the good old sit-up? If it's good enough for the army it should be good enough for Crossfit, right? Well, no. Crossfitters have to use these crazy abmats to do their situps and they do them in a butterfly position with the soles of their feet touching. 

				.anchor#abs
				%li
					%strong
						Abs: 
					(
					%strong
						abdominals
					): a large complex of muscles running from the top of your pelvis to your ribcage. In addition to the classic "6-pack" muscles, your abs include your obliques, which run across your sides.
				.anchor#accuracy
				%li
					%strong Accuracy: 
					one of the 10 physical skills Crossfit is designed to develop and/or improve. Accuracy is the ability to control movement in a specific direction or at a specific intensity. Hitting a wall ball target is accuracy, and so is maintaining a tight bar-path during an olympic lift.

				.anchor#active_recovery
				%li
					%strong Active Recovery: 
					a workout, but at significantly reduced load or intensity. Maybe go for a nice jog or hike, or bike ride. It's like taking a rest day, but not, really.

				.anchor#affiliate
				%li
					%strong Affiliate: 
					CrossFit allows certified trainers to open their own facilities under the CrossFit brand. These are known as affiliates. see 
					%a{ href: '#box' }
						Box.
				.anchor#agility
				%li
					%strong
						Agility: 
					one of the 10 
					physical skills 
					CrossFit is designed to develop and/or improve. Agility is the ability to quickly transition from one movement pattern (direction, intensity) to another.  See
					%a{ href: '#fitness' } Fitness,
					%a{ href: '#gpp' } General Physical Preparedness
				
				.anchor#air_squats
				%li
					%strong
						Air-Squats: 
					Standing straight up, you squat down until your hips are below your knees, then stand back up until the hips are once again fully extended. Squats are one of the easiest exercises to execute incorrectly. Use these tips to perform a perfect squat. When Crossfitters just say "squats", these are generally what they are referring to. Weighted versions are either back-squats, front-squats, or overhead-squats.

				.anchor#alternating
				%li
					%strong
						Alternating: 
					refers to exercises that require only one arm, leg, or side of the body at a time (e.g. pistols, turkish get ups). If alternating is specified, it means go left-right-left-right, etc. instead of left-left-right-right.

				.anchor#amrap
				%li
					%strong
						AMRAP 
					(
					%strong
						As Many Reps/Rounds As Possible
					):
					AMRAP workouts challenge CrossFitters to complete as many rounds of a series of exercises in a specified time (obviously, one of our favorite terms). 

				.anchor#angie
				%li
					%strong
						Angie: 
					one of the benchmark WODs. 100 of each of the basic bodyweight movements: 100 pull-ups, 100 push-ups, 100 
					%a{ href: '#absu' }
						sit-ups, 
					100 
					%a{ href: '#air_squats' } 
						air-squats 
					for time. 

				.anchor#annie
				%li
					%strong
						Annie: 
					one of the benchmark WODs. 50-40-30-20-10 of 
					%a{ href: '#du' }
						double-unders and 
					%a{ href: '#abmatsu' }
						sit-ups 
					for time.

				.anchor#anterior
				%li
					%strong
						Anterior: 
					your front aka your belly-side.

				.anchor#arch
				%li
					%strong
						Arch position: 
					spine extended while core remains tight. Feet are behind hips.

				.anchor#ascending
				%li
					%strong
						Ascending Ladder: 
					a 
					%a{ href: '#time_priority' }
						time-prioritized workout 
					whereby the reps performed increment by some amount each round. So, kind of like an AMRAP where you do more reps each round than the previous one. Here's an example: 

					%p
						7 minute ascending ladder of 3 pull-ups & 5 push-ups. Add 2 each round. So, you'd do 3 pull-ups & 5 push-ups, then 5 pull-ups & 7 push-ups, then 7 pull-ups & 9 push-ups, etc... until the clock expired.

				.anchor#assult_bike
				%li
					%strong
						Assault Bike 
					(
					%strong
						Air Bike, Airdyne
					): 
					CrossFit's idea of cycling. A deceptively brutal little contraption that looks like a bike with large upright moving handles. Operating it amounts to pedaling while pushing and pulling the handles back and forth. 

				.anchor#atg
				%li
					%strong
						ATG 
					(
					%strong
						Ass to Grass, Ass to Ground
					): 
					squatting so low that your butt nearly touches the ground.

				.anchor#athlete
				%li
					%strong
						Athlete: 
					Hey, that’s you! One of the more flattering aspects of CrossFit is that anyone who does it gets to be called an athlete. Way to go champ!

				.anchor#atomic
				%li
					%strong
						Atomic Sit-up: 
					one of those movements that can vary from box-to-box. Though, generally some kind of weighted sit-up. Sometimes performed starting with a weight (such as a light plate) over the head, sitting up bringing weight over to the floor in front of feet, then standing with the weight over-head. Other coaches prescribe Atomic sit-ups with medicine balls overhead and thrown into a wall, then caught (or similar with partners).

				.anchor#b

				.top-link{ style: 'padding:0.5em auto;border-bottom: 1px #ddd solid;'}
					%a.pull-right{ href: '#top'}
						Top
						%i.fa.fa-arrow-up
					.clearfix

				.anchor#back_rack
				%li
					%strong
						Back Rack: 
					the position of the barbell behind the neck balanced on the 
					%a{ href: '#traps' }
						upper traps. 
					This is the classic position from which to 
					%a{ href: '#bs' }
						back squat.

				.anchor#bs
				%li
					%strong
						Back Squat 
					(
					%strong
						bs
					): what most people think of as the traditional weightlifting squat with the barbell resting on your back.

				.anchor#badger
				%li
					%strong
						Badger: 
					a Hero WOD. Three rounds for time of 30 squat cleans (95lbs), 30 pull-ups, and 800 meter run. 

				.anchor#bail
				%li
					%strong
						Bail Out 
					(aka 
					%strong
						Bailing
					): If you're not able to safely complete a lift, you need a way to get out from under the load safely without hurting yourself. Bailing is a safe exit from a failed lift without a spotter. Not to be confused with 
					%a{ href: '#ghost-ride' }
						Ghost-riding.  
					Also see 
					%a{ href: '#dumping' }
						Dumping

				.anchor#balance
				%li
					%strong
						Balance: 
					one of the 10 physical skills. Balance is your ability to control your body's center of mass in relation to it's support base. If your center of mass drifts too far from your base of support, you will fall; whether from a handstand or pistol squat or balance beam. 

				.anchor#banded
				%li
					%strong
						Band Assist 
					(
					%strong
						Banded
					): the use of an elastic resistance band to scale a movement. Bands pull in the the direction of the movement, thereby lessening the load of (generally body weight) moves. The thicker the band, the more assistance it provides.

				.anchor#barbell
				%li
					%strong
						Barbell: 
					metal bar used for weightlifting. You add plates to the barbell to get a specific load. Standard olympic barbells weigh 45lbs (without plates), they also come in 33lb versions, and 15lb trainer bars.

				.anchor#barbell_complex
				%li
					%strong
						Barbell Complex:
					a series of movements completed in sequence with a barbell in which the barbell doesn't leave the athlete's hands and isn't put down until the entire sequence is complete.

				.anchor#barbell_rollout
				%li
					%strong
						Barbell Rollout:
					a movement where you extend your 
					%a{ href: '#abs' }
						abs
					by rolling out a barbell with plates then pull back up onto your knees.

				.anchor#barpath
				%li
					%strong
						Barpath:
					the line the barbell travels in a vertical plane during a lift. The ideal bar path is straight up and down (no big arcs, curls, or loops) and stays as close to the body as possible.

				.anchor#beat_swing
				%li
					%strong
						Beat Swing:
					progression towards a 
					%a{ href: '#ckip' }
						c-kip. 
					Hang from a pull-up bar, then in a controlled tempo fashion alternate between hollow and arch positions.

				%li
					%strong
						Belt: see 
					%a{ href: '#weight_belt' }
						Weight Belt

				.anchor#benchmark
				%li
					%strong
						Benchmark WOD 
					(
					%strong
						The Girls
					): 
					one of several standardly prescribed workouts that Crossfitters use to measure themselves against each other and themselves over time. Often tough, but not as tough as Hero Wods. These are generally given female names. See Fran, Helen, Grace, Cindy…. 

				.anchor#bergener
				%li
					%strong
						Bergener Warmup: 
					a sequence of movements performed with a PVC or empty barbell to prepare for olympic lifts (in particular, the Snatch). The warmup consists of 6 movements that are often performed for 3 reps each:1. Down and Up (dip/drive), 2. Elbows high and outside (scarecrow), 3. muscle snatch, 4. Snatch land, 5. Snatch Drop, 6. Hang power snatch.

				.anchor#biceps
				%li
					%strong
						Biceps: 
					your guns. Biceps are the large muscles at the top of your arm. Responsible for flexion of the arm at the elbow. Utilized primarily in arm curls, but in CrossFit for pull-ups and chin-ups.

				.anchor#blow_up
				%li
					%strong
						Blowing up: 
					in Crossfit, blowing up is not a good thing. This usually means you started tohe workout too fast and too hard, without any pace and you hitting-the-wall. See 
					%a{ href: '#redline' }
						Redline.

				.anchor#body_blaster
				%li
					%strong
						Body Blaster: 
					burpee to pull-up to kte fluidly linked and performed as one rep.

				.anchor#bw
				%li
					%strong
						Bodyweight 
						(
					%strong
						bw
					): sometimes refers to unweighted movements (bodyweight movements aka gymnastics movements) such as pushups, pullups, situps, etc. But especially in strength prescriptions, may also just refer to your weight. Ex: 20 Cleans at 2/3 bw. If you weigh 150lbs, you would be expected to do this at 100lb working weight.

				A Box (aka plyo box): not to be confused with 'The Box' (see below). A stable surfaced box that you jump onto (see Box Jump). Boxes usually range from 12" to over 36" tall. Common standard sizes are 18" for women and 24" for men. Sometimes, plates are stacked on top of the box to increase its height while maintaining stability.

				.anchor#box
				%li
					%strong The Box: 
					Not to be confused with 'a box', The Box is a CrossFit gym. It may look like a barebones garage to some but to a CrossFitter, it's heaven. See
					%a{ href: '#affiliate' }
						Affiliate

				.anchor#box_jump
				%li
					%strong
						Box Jump: 
					An explosive movement whereby you start with both feet on the floor and jump onto the top of a box landing softly with both feet, then standing to full extension before jumping (or stepping) back down and repeating. 
				
				.anchor#brief
				%li
					%strong
						Brief the WOD: 
					The coach will explain the workout, its structure, and its component moves.
				
				.anchor#buddy
				%li
					%strong
						Buddy Carry: 
					borrowing from fire & rescue, sometimes Crossfit WODs call for a buddy carry. These are actually very fun (and a bit scary), and incredibly useful. It wasn't until my first CrossFit buddy carry workout that I realized I really didn't know the proper way to carry an incapacitated adult in an emergency.

				.anchor#burpee
				%li
					%strong
						Burpee: 
					The exercise we love to hate, burpees, are a cornerstone of CrossFit workouts. Begin in a plank position and jump towards your hands, tucking both knees into your chest. Jump back and land in a squat position. Jump up, propelling yourself from the squat position and land back in a plank.Variations include: Over the bar burpee (otbb), burpee pullup, bar facing burpee (bfb), box-jump-burpee (bjb), burpee broadjump… 

				.anchor#butt_wink
				%li
					%strong
						Butt Wink: 
					loosing the lower lumbar curve at the bottom of the squat. The Butt Wink is one of the most common faults in the squat. 

				.anchor#butterfly
				%li
					%strong
						Butterfly: 
					an advanced pull-up kip. Butterfly kipping is more efficient than c-kipping, but is more taxing on the shoulders. 

				.anchor#buy_in
				%li
					%strong
						Buy-In: 
					not a warm-up, but a task or amount of work you need to complete prior to a workout, or prior to a section of a workout.

				.anchor#c
				.top-link{ style: 'padding:0.5em auto;border-bottom: 1px #ddd solid;'}
					%a.pull-right{ href: '#top'}
						Top
						%i.fa.fa-arrow-up
					.clearfix

				.anchor#ckip
				%li
					%strong
						C-Kip: 
					the basic pull-up kip. You progress from beat swings to C-kipping pull-ups.

				.anchor#calories
				%li
					%strong
						Calories 
					(
					%strong
						cal
					): Calories are a measure of work... effort. Not a nutritional unit. Crossfitters only count calories on the rower and the air bike. See Row.

				.anchor#cap
				%li
					%strong
						Cap 
					(
					%strong
						Time Cap
					): an overall time limit placed on a (usually task priority) workout. If you don't complete all the prescribed work under the limit, you are said to have "capped out". 

				.anchor#cardio
				%li
					%strong
						Cardio Endurance: 
					one of the 10 physical skills. The ability of the body to efficiently utilize oxygen.

				.anchor#cfl1
				%li
					%strong
						CF-L1 
					(aka 
					%strong
						Crossfit Level 1 Trainer, Certified
					): a certified Crossfit trainer. Your coach should have at least this certification.

				.anchor#chalk
				%li
					%strong
						Chalk 
					(
					%strong
						Chalk Up
					): powdery white substance you put on your hands before bar or ring work (especially if kipping), or heavy weight lifting. Chalk negates sweat and improves grip on the bar. Warning, once you chalk up, you cant go back.

				.anchor#challenge
				%li
					%strong
						Challenge: 
					from time to time crossfitters will sign up for or circulate a Challenge to keep themselves motivated or to get to another performance level or goal. Challenges usually entail some dietary restriction(s) and/or workout attendance targets.

				.anchor#chelsea
				%li
					%strong
						Chelsea: 
					one of the CrossFit benchmark girls. Chelsea is Cindy performed as a 30 minute EMOM. See 
					%a{ href: '#cindy' }
						Cindy.

				.anchor#ctb
				%li
					%strong
						Chest to Bar 
					(
					%strong
						ctb
					): a pull-up that results in the chest touching the bar at the top of each rep. May be kipping or strict. A progression on the way to muscle-ups.

				.anchor#chin
				%li
					%strong
						Chin 
					(
					%strong
						Chin-up, cu
					): A reverse-grip pull-up. Chin-ups are performed by gripping the bar with the palms of your hands facing behind you. Chins are usually strict.

				.anchor#chipper
				%li
					%strong
						Chipper 
					(aka 
					%strong
						a march
					): a long task-priority workout, usually comprised of many different movements at high volume. Chippers are often programmed to take 30 minutes or more and are as much a mental test as a physical one.

				.anchor#cindy
				%li
					%strong
						Cindy:
					a classic CrossFit benchmark WOD. Cindy is a 20 minute AMRAP triplet of 5 pull-ups, 10 push-ups, and 15 air-squats. The Cindy rep-scheme is the foundation of several other workouts (e.g. Murph, Chelsea). Often the basic 5 push-up 10 pull-up 15 squat triplet itself is referred to as Cindy. Coaches will prescribe something like "8 minutes of Cindy" as a warm-up.

				.anchor#circuit
				%li
					%strong
						Circuit:
					a grouping of movements that are performed over and over. See 
					%a{ href: '#round' }
						Round.

				.anchor#clean
				%li
					%strong
						Clean: 
					no, not what you do to tidy up after a tough workout. The clean is an olympic weightlifting movement whereby a barbell weight is moved from the floor to just under the chin.

				.anchor#clean_jerk
				%li
					%strong
						Clean & Jerk 
					(
					%strong
						c&j
					): This olympic weightlifting move is a combination of three coordinated movements. Starting with a barbell on the ground, it is deadlifted, then explosively "cleaned" to rest just under the chin, and after a brief pause, driven upward to propel the bar overhead.

				.anchor#cluster
				%li
					%strong
						Cluster:
					really, just a god-awful movement. Take a barbell and load it with weight. Starting with it on the floor squat clean, then thruster to overhead. These will kill your soul quickly. See Thruster, Squat Clean.

				.anchor#coach
				%li
					%strong
						Coach: 
					your trainer. The coach leads the class, corrects movements, suggests scaling and modifications when necessary…

				.anchor#core
				%li
					%strong
						Core: 
					roughly speaking, your midsection. Usually refers to the musculature between your hips and chest: your abs and the muscles of your lower and mid back.

				.anchor#clamps
				%li
					%strong
						Clamps 
					(aka 
					%strong
						clips, collars, muscle clamps, weight clips
					): the things that hold your plates in place on the barbell. They may be metal or plastic. The coiled metal spring-like ones are often called clips. Use a collar or clip for every lift except possibly deadlifts.

				.anchor#come_hot
				%li
					%strong
						Come out Hot: 
					a term that refers to a complete lack of strategy or game-planning whereby an athlete just starts off a WOD (especially a longer WOD or a chipper) going 110%. See also 
					%a{ href: '#blowup' }
						Blow up.

				.anchor#c2
				%li
					%strong
						Concept 2 Rower 
					(
					%strong
						C2
					): there are many different rowers on the market, but the Concept 2 is the preference for most boxes. see 
					%a{ href: '#row' }
						Row

				.anchor#connected
				%li
					%strong
						Connected 
					(
					%strong
						Stay Connected
					): your coach tells you to stay connected, she wants you to keep your body tight throughout. Can also mean to maintain contact with a barbell as in Touch and Go, or a Barbell complex.

				.anchor#cooldown
				%li
					%strong
						Cool Down:
					the WOD has been won, the scores have been recorded, it's time for some stretching and rolling.

				.anchor#coordination
				%li
					%strong
						Coordination: 
					one of the 10 physical skills. The ability to bring several movements together fluidly into one complex movement.

				.anchor#couplet
				%li
					%strong
						Couplet: 
					two movements performed in a circuit. Fran is a couplet of thrusters and pull-ups.

				.anchor#crossfit
				%li
					%strong
						CrossFit: 
					a prescription for fitness: constantly varied functional movements performed at high intensity.

				.anchor#cft
				%li
					%strong
						Crossfit Total 
					(
					%strong
						CFT
					): a CrossFit-style measure of overall strength. Take your one rep max (out of three attempts) for the back-squat, deadlift, and press. Add the three together. That's your CrossFit Total. 

				.anchor#d
				.top-link{ style: 'padding:0.5em auto;border-bottom: 1px #ddd solid;'}
					%a.pull-right{ href: '#top'}
						Top
						%i.fa.fa-arrow-up
					.clearfix

				.anchor#deck_of_cards
				%li
					%strong
						Deck of Cards: 
					you’re not going to be playing poker. Instead, you’ll be performing a workout based on randomly drawn cards.

				.anchor#dl
				%li
					%strong
						Deadlift 
					(
					%strong
						DL
					): Pick a weighted object up off the floor and stand upright bringing it to waist-height. What could be easier, right? The deadlift is perhaps the simplest, but also one of the most effective weightlifting exercises.

				.anchor#death_by
				%li
					%strong
						Death by... : 
					sometimes you'll see a workout titled "Death by..." and some movement. Like Death by Thrusters. This is simply a combination of an ascending ladder with an emom until you can't complete the work within the interval. So, Death by thrusters would be: minute 1, perform 1 thruster. Minute 2: perform 2 thrusters... etc. If you get to minute 26 and only complete 25 thrusters in that minute, then your workout is over. Your score is usually the last full round you completed.

				.anchor#deconditioned
				%li
					%strong
						Deconditioned: 
					What happens to you when you stop working out. If you take a long enough break, you may need another onramp period.

				.anchor#deficit
				%li
					%strong
						Deficit: 
					extend range of motion. Generally deficit pushups or handstand pushups (with hands on plates)

				.anchor#deload
				%li
					%strong
						Deload 
					(
					%strong
						deload week
					): a planned period of lowered intensity. During a deload, you might pace a little slower, or use lower working weight or both. Deload can be thought of as a longer duration Active Recovery. You are still working out and moving, just at an intensity level that will let your body recover. 

				.anchor#delts
				%li
					%strong
						Delts 
					(
					%strong
						deltoids
					): your delts are your shoulder cap muscles. They are employed in movements such as the overhead presses and handstand push-ups.

				.anchor#demo
				%li
					%strong
						Demo: 
					During or after the briefing, the coach will often demo (or have a class member demo) the major movements in a WOD, accentuating the points of performance. 

				.anchor#descending_ladder
				%li
					%strong
						Descending Ladder: 
					A task priority workout where the rep scheme decrements each round. The deadly 16.5 Crossfit Open workout was a classic descending ladder: 21-18-15-12-9-6-3 of thrusters and over the bar burpees. I'm still sore... 

				.anchor#detox
				%li
					%strong
						Detox: 
					a dietary restriction for some period of time. Most often refers to sugar. So, you'll hear about something like a "30 day sugar detox" which mans going without any sugar or artificial sweeteners for 30 days. Often occurs in combination with a Challenge.

				.anchor#dfl
				%li
					%strong
						DFL: 
					Dead F-reaking last. People who care a lot about scores and rankings sometimes refer to last place this way, admittedly often in a light-hearted manner. That's fine, we don't care about such things... after all, you can't come in last place against yourself (or you are always in last place...).

				.anchor#diane
				%li
					%strong
						Diane: 
					one of the benchmark girl WODs. Three rounds of 21-15-9 for time of deadlifts (255lbs) and handstand push-ups.

				.anchor#dnf
				%li
					%strong
						DNF 
					(
					%strong
						Did Not Finish
					): not what you want to see by your name on the whiteboard.

				.anchor#du
				%li
					%strong
						Double Under 
					(
					%strong
						du
					): While jumping rope, allow the rope to pass under your feet twice while you're still in the air. Double Unders are one of those Crossfit moves that can at the same time be maddeningly frustrating, but also make you feel like a kid again. Seriously, when's the last time you spent significant time jumping rope?

				.anchor#dt
				%li
					%strong
						DT: 
					a Hero WOD comprised of five rounds for time of: 12 reps deadlift @ 155lbs, 9 reps hang power clean @ 155lbs, 6 reps push jerk @ 155lbs. 

				.anchor#db
				%li
					%strong
						Dumbbells: 
					those hand-weights you imagine guys doing arm curls with. Dumbells come in several weights from 5lbs to around 50lbs.

				.anchor#dumping
				%li
					%strong
						Dumping: 
					sometimes, you just aren't able to nail a lift. If you're not going to make it, you need a way to drop the load safely without hurting yourself. Dumping is a safe exit from a failed lift. See Bail Out.

				.anchor#dread
				%li
					%strong
						The Dread: 
					the feeling you get when you see a big WOD posted and you know it's going to hurt. You quickly realize that it's the same feeling you get before any difficult task or performance: sales pitch, job interview, public speaking, etc. One of the largest though relatively unsung benefits of CrossFit is that it gives you many opportunities to experience and manage the dread. This experience translates very well to other spheres of life.

				.anchor#e
				.top-link{ style: 'padding:0.5em auto;border-bottom: 1px #ddd solid;'}
					%a.pull-right{ href: '#top'}
						Top
						%i.fa.fa-arrow-up
					.clearfix

				.anchor#elbow_whip
				%li
					%strong
						Elbow Whip:
					in the clean, the elbows transition rapidly from a scarecrow pulling position to pointing forward in a front rack position. the faster the better.

				.anchor#element_priority
				%li
					%strong
						Element Priority 
					(aka 
					%strong
						Movement Priority
					): focus on a single movement or skill. Can be everything from technique and/or progression practice, to max lift, to run 5k.

				.anchor#emom
				%li
					%strong
						EMOM 
					(aka 
					%strong
						EOMOM, Every...
					): EMOM stands for "Every Minute On the Minute" it's a work interval that forces you to get some reps done, then rest until the minute is up. Sometimes the interval isn't a minute - you'll see things like Every Other Minute (EOMOM = 2 minute interval), or even Every 6 minutes, etc. but at heart they're all EMOMs.

				.anchor#engine
				%li
					%strong
						Engine: 
					your capacity for high work output for long periods. Also a function of your ability to deal with the Pain Cave.

				.anchor#erg
				%li
					%strong
						Erg: 
					another term for a rower. see 
					%a{ href: '#row' }
						Row.

				.anchor#extension
				%li
					%strong
						Extension: 
					straightening of a joint or limb. Think of it as a joint that is 'straight' or 'straightening'.

				.anchor#external_rotaion
				%li
					%strong
						External Rotation: 
					ball and socket joints like your hip and shoulder can rotate as well as flex and extend. Most often, you'll hear this term in reference to your shoulders, especially when holding a barbell overhead as in overhead squats or a snatch. It can be fairly confusing, but here's the simplest way for me to remember it. Hold your arm out to your side. Now, stick up your thumb so it's pointing to the sky (you shoulder is now more-or-less neutrally rotated). Now, rotate your arm so that your thumb is pointed behind you. That's external rotation of your shoulder! External rotation maximally engages your muscles and bones and creates a strong base of support for weights. You'll also want to externally rotate your shoulders at the top of ring dips to achieve full lock out. BTW, the ubiquitous cue "Knees Out" is a way of asking you to externally rotate your legs/hips at the bottom of your squat.

				.anchor#f
				.top-link{ style: 'padding:0.5em auto;border-bottom: 1px #ddd solid;'}
					%a.pull-right{ href: '#top'}
						Top
						%i.fa.fa-arrow-up
					.clearfix

				.anchor#false_grip
				%li
					%strong
						False Grip: 
					hold the rings in the base of the palms to muscle-up.

				.anchor#farmer_carry
				%li
					%strong
						Farmer Carry: 
					take two heavy objects, and walk with them for some prescribed distance. Often, these are dumbbells or kettlebells, but really can be anything.

				.anchor#fgb
				%li
					%strong
						Fight Gone Bad 
					(
					%strong
						fgb
					): a well-known benchmark workout (though not a girl). This is basically an AMRAP workout with an interesting structure. It's composed of 6 sections: wall-ball (20lbs) for reps, sdhp (75lbs) for reps, box jump (20") for reps, push press (75lbs) for reps, row for cals, and rest. The workout is structured as three rounds with one minute allowed per section. You move from section to section with no pause in between going all-out for the minute you're there. Your score is your total reps (plus calories rowed). Quick transitions and a steady pace are key to performing well.

				.anchor#filthy
				%li
					%strong
						Filthy Fifty: 
					not one of the girls, but a notorious benchmark WOD nonetheless. No one movement in this WOD is too heavy or intimidating, but the sum total is definitely more than the parts. Be ready to visit the pain cave on this one: 50 box jump 24", 50 jumping pull-ups, 50 kb swings (1 pood), 50 steps walking lunge, 50 kte, 50 pp 45lbs, 50 back extensions, 50 wall-balls (20lb ball), 50 burpees, 50 double-unders.

				.anchor#finishing_position
				%li
					%strong
						Finishing Position: 
					final position that is required to be held and controlled for a valid olympic lift. Finish position is full extension of knees, hips, and elbows with the weight directly overhead. 

				.anchor#finisher
				%li
					%strong
						Finisher: 
					Like a tasty desert at the end of a workout, except exactly the opposite. Some coaches program finishers as unmeasured work to be performed after the WOD but before the cool-down. A finisher is usually something short and sweet like run 1k, do 100 burpees, 300 double-unders, etc.

				.anchor#firebreather
				%li
					%strong
						Firebreather: 
					someone who just consistently kills it every workout.

				.anchor#fitness
				%li
					%strong
						Fitness: 
					general physical preparedness. Crossfit measures (and seeks to maximize) fitness across 10 general physical skills: accuracy, agility, balance, cardiovascular/respiratory endurance, coordination, flexibility, power, speed, stamina, and strength.

				.anchor#flexibility
				%li
					%strong
						Flexibility: 
					one of the 10 physical skills. Flexibility is your ability to move a given joint through a maximum range of motion. See ROM.

				.anchor#flexion
				%li
					%strong
						Flexion: 
					contracting a joint. Think of it as a joint that is 'bent' or 'bending'.

				
				.anchor#foam_roller
				%li
					%strong
						Foam Roller: 
					most boxes have foam or plastic cylinders about 6" in diameter. They may be smooth or bumpy and of varying hardnesses. They are used to Roll-Out (2nd definition) muscles to improve flexibility and help with myofascial release.

				.anchor#ft
				%li
					%strong
						For Time 
					(
					%strong
						FT, Rounds for Time: RFT
					): this just means that the workout prescribes a certain amount of work and your job is to perform it in the fastest time possible. Your score is the time it takes you to complete the workout. We sometimes wish for the term AFAP (As Fast As Possible) instead of boring old For Time. Workouts For Time are simply Task Priority workouts.

				.anchor#fran
				%li
					%strong
						Fran: 
					one of the most well-known gold-standard CrossFit girls benchmark workouts. Fran is a simple couplet with a descending rep scheme: 21-15-9 thrusters (@95lbs for men) and pull-ups.

				.anchor#fran_lung
				%li
					%strong
						Fran-lung: 
					Fran is so intense that going extremely hard and fast without proper warm-up and especially cool-down can lead to a condition known as Fran lung. Fran Lung is a real thing; the medical term for it is Exercise Induced Interstitial Pulmonary Edema. If you're coughing the day after an extremely intense workout, or you have a constricted, mucous feeling in your chest, it could be Fran Lung. The best way to avoid this is to properly warm-up (match your warm-up intensity with your anticipated workout intensity) and especially cool-down. It's a good idea to go for a long light jog or row after blasting through an extremely intense workout.

				.anchor#front_rack
				%li
					%strong
						Front-Rack: 
					The position of of weight just under the chin. Elbows high. The finish position of a clean.

				.anchor#front_squat
				%li
					%strong
						Front Squat: 
					perform a full squat with weight in the front-rack position.

				.anchor#g
				.top-link{ style: 'padding:0.5em auto;border-bottom: 1px #ddd solid;'}
					%a.pull-right{ href: '#top'}
						Top
						%i.fa.fa-arrow-up
					.clearfix

				.anchor#game_plan
				%li
					%strong
						Game Plan: 
					not to be confused with gaming the workout, having a game plan simply means getting a strategy in place that will let you perform the WOD correctly and efficiently all the way through.

				.anchor#gaming
				%li
					%strong
						Gaming the Workout: 
					achieve the best score possible by whatever means necessary. "He put his barbell under the pullup rig so he could game the WOD".

				.anchor#games
				%li
					%strong
						The Games 
					(aka 
					%strong
						The Crossfit Games, The Reebok CrossFit Games, The Finals
					): see the Open. Technically, the entire annual Crossfit competition is broken into three phases: The Open, The Regionals, and The Games. The Games refers to the world finals held this year in Minnesota and in year's past in Carson, CA (originally the Ranch). But in common use, 'going to the games' often means advancing to regionals or the finals.

				.anchor#gpp
				%li
					%strong
						General Physical Preparedness 
					(aka 
					%strong
						GPP
					): generalized state of fitness that is most prepared to accomplish any possible physical task or test. This is basically one of the CrossFit definitions of fitness. See Fitness.

				.anchor#ghd
				%li
					%strong
						GHD 
					(
					%strong
						Glute Hamstring Developer
					): an apparatus that supports the legs and lower torso during the performance of various core exercises.

				.anchor#ghd_situp
				%li
					%strong
						GHD Sit-up: 
					high range-of-motion sit-ups performed in the GHD. You lie in the GHD face-up with your fee snugly anchored and your hips slightly in front of the pad (so that the pad is under your hamstrings). Your knees should be slightly bent. While maintaining a neutral spine, lay back (to parallel with the floor or all the way down until you touch the floor with outstretched hands - but do not extend/arch back!). Then, raise trunk while straightening legs to come fully upright and touch toes.  

				.anchor#ghost_ride
				%li
					%strong
						Ghost-ride: 
					dropping a barbell from overhead after a completed rep. This is a big No No. Not to be confused with bailing, which is safely getting yourself out of the way of a falling weight after a missed rep.

				.anchor#ghr
				%li
					%strong
						GHR 
					(
					%strong
						Glute Hamstring Raise
					): think of an upside-down GHD Situp. Lie face-down in the GHD with your feet anchored and the pad under your hips. Fold over toward the floor at the hips while keeping your core tight. In a controlled manner, raise your torso back to parallel with the floor. Also, superman raises, arm haulers.

				.anchor#globo
				%li
					%strong
						Globo Gym: 
					a "normal" gym. In other words, a gym that is not a CrossFit box. Classic large, franchised facilities such as 24-hour fitness that have weight machines and rows of cardio machines such as stair=steppers, ellipticals, and recumbent bikes. CrossFitters tend not to have too high an opinion of globo gyms.

				.anchor#glutes
				%li
					%strong
						Glutes 
					(
					%strong
						gluteals
					): like the abs, the glutes are an entire muscle compelx made of of the gluteus maximus, medius, and minimus. Basically, they are your butt muscles. The glutes are the primary muscles involved in the opening (extension) of your hip, and are among the most powerful in your body.

				.anchor#goblet
				%li
					%strong
						Goblet Squat: 
					a type of front squat that is performed with a  non-barbell weight held in both hands under the chin. Most often, goblet squats use kettlebells, though sometimes dumbbells are used.

				.anchor#good_morning
				%li
					%strong
						Good Morning: 
					a warm-up movement, particularly before deadlifts or other hamstring/glute intensive movements. While standing upright with a barbell or PVC in the back-rack position, slowly bend from the hips while maintaining a neutral spine and straight knees. Achieve a comfortable range of motion, and slowly rise back up.

				.anchor#grace
				%li
					%strong
						Grace: 
					one of the benchmark girls WODs. Grace is very simple: 30 clean and jerks for time @ 135lbs. 

				.anchor#gtg
				%li
					%strong
						Grease the Groove 
					(
					%strong
						GtG
					): this this sounds like it refers to some kind of warmup, but it does not. Greasing the Groove means repeatedly and frequently practicing a movement without going to failure. The goal is to train and optimize the neural pathways involved in a movement, not so much muscular development.

				.anchor#gto
				%li
					%strong
						Ground to Overhead 
					(
					%strong
						gto, g2o, g2oh
					): Bring a weight from ground to overhead either via the snatch or clean and jerk movement.

				.anchor#gymnastics
				%li
					%strong
						Gymnastics: 
					any rep-based movement (i.e. not monostructural) that involves moving your body in space without external weight or load. Everything from pushups, to pullups, to rope climbs, to box jumps, to jumping jacks, to mountain climbers are all considered gymnastics. Also see 
					%a{ href: '#bw' }
						Bodyweight.

				.anchor#h
				.top-link{ style: 'padding:0.5em auto;border-bottom: 1px #ddd solid;'}
					%a.pull-right{ href: '#top'}
						Top
						%i.fa.fa-arrow-up
					.clearfix

				.anchor#hamstrings
				%li
					%strong
						Hamstrings 
					(
					%strong
						hammies
					): the muscles running along the posterior of your legs from the glutes to the knees. Hamstrings are involved in the flexion of the lesgs at the knee, and are vital for the deadlifts and especially running.

				.anchor#hrpu
				%li
					%strong
						Hand Release Pushup 
					(
					%strong
						hrpu
					): a push-up variation that requires you to lift your hands off the floor at the bottom. You should still keep your knees and hips off the floor (only touching with toes and chest). Be sure to keep knees, hips, and belly off the floor when pushing up! 

				.anchor#hspu
				%li
					%strong
						Handstand Pushup 
					(
					%strong
						hspu
					): Just like they sound, push-ups performed while in a handstand position. In most CrossFit workouts, athletes can kick up to a wall for stability while they perform this movement. Handstand Hold, Handstand Walk..

				.anchor#hang
				%li
					%strong
						Hang: 
					an intermediate position in the clean move. The hang is when you are holding the barbell above the knees, but below the waist.

				.anchor#high_hang
				%li
					%strong
						High Hang 
					(
					%strong
						pockets
					): the position of the barbell at the hips when the hips are at full extension.

				.anchor#helen
				%li
					%strong
						Helen: 
					one of the benchmark girl workouts. Helen is three rounds for time of  run 400 meters, 21 kettlebell swings (1.5 pood), and 12 pull-ups

				.anchor#hero
				%li
					%strong
						Hero WOD: 
					CrossFit honors men and women who make the ultimate sacrifice in service to their country and community with special workouts. These workouts are generally a little extra intense and/or difficult and are meant to challenge your limits. They are great ways to remember and recognize the sacrifices made by public-servants, firefighters, police, and soldiers on a daily basis.

				.anchor#hollow
				%li
					%strong
						Hollow Position: 
					spine in flexion while core remains tight. Feet in front of hips.

				.anchor#hollow_rock
				%li
					%strong
						Hollow Rock: 
					lie on your back with your hands overhead. Pull your arms, head and shoulders off the ground. While maintaining contact with the ground in your lower back, lift your legs and feet so that your body is in the 'hollow position'. Now, rock back and forth from shoulders to feet while maintaining a rigid hollow position and while maintaining contact between the lower back and floor.

				.anchor#hook
				%li
					%strong
						Hook Grip: 
					grip the barbell so that your index, middle (and even ring) fingers cover your thumb. The hook grip provides extra support of large loads, and can improve lifting ability significantly.

				.anchor#hyper_ext
				%li
					%strong
						Hyperextension: 
					over-extension of a joint. Most often, you'll hear this in reference to your back. A hyper-extended back is one that is arched with the shoulders back and belly out. You generally do NOT want to hyperextend your back, especially not during handstands, push press, or GHD work.

				.anchor#i
				.top-link{ style: 'padding:0.5em auto;border-bottom: 1px #ddd solid;'}
					%a.pull-right{ href: '#top'}
						Top
						%i.fa.fa-arrow-up
					.clearfix

				.anchor#immature
				%li
					%strong
						Immature Squat: 
					a common squat fault, the inability to keep the torso upright during a squat. 

				.anchor#inch_worm
				%li
					%strong
						Inch Worm: 
					often prescribed during warm-ups. Inchworms require you to perform a pushup, then 'walk' your feet up to your hands while maintaining straight legs in a pike position. Then, walk your hands back out into a plank position, and repeat across the floor.

				.anchor#inensity
				%li
					%strong
						Intensity: 
					Intensity is the name of the game in Crossfit. Intensity is what delivers results. You want to work at the highest intensity you can without compromising your safety. You want to constantly, carefully increase your intensity. intensity can come in many flavors, but Crossfit generally measures it by three: increased load (e.g. strength), increased speed (e.g. metcon), increased duration (e.g. endurance). There are many other little ways to find intensity. For example, you can also increase the intensity of gymnastic movements by performing them more slowly, or in a more controlled manner e.g. without kipping.

				.anchor#internal_rotation
				%li
					%strong
						Internal Rotation: 
					In Crossfit, this is almost always bad. See 
					%a{ href: '#external_rotation'}
						External Rotation. 
					This is the opposite of that. Once you get the feeling of internal vs external rotation in joints, you can think: "Internal rotation weak and dangerous; external rotation strong and healthy".

				.anchor#j
				.top-link{ style: 'padding:0.5em auto;border-bottom: 1px #ddd solid;'}
					%a.pull-right{ href: '#top'}
						Top
						%i.fa.fa-arrow-up
					.clearfix

				.anchor#jcups
				%li
					%strong
						J-Cups: 
					removable metal brackets that attach to the weight rack and support a barbell.

				.anchor#jerk
				%li
					%strong
						Jerk 
					(
					%strong
						push-jerk: pj, split-jerk: sj
					): in CrossFit the Jerk is not that guy who shows up everyday in cutoff sleeves and sweatbands. A jerk is an explosive olympic weightlifting movement that moves the barbell from the from-rack to overhead. 

				.anchor#judge
				%li
					%strong
						Judge: 
					someone who ensures that all points of performance are met for a prescribed workout and counts the reps for the athlete. Often, during the Open workouts athletes judge for each other.

				.anchor#jump_stance
				%li
					%strong
						Jump Stance: 
					feet under hips.

				
				.anchor#k
				.top-link{ style: 'padding:0.5em auto;border-bottom: 1px #ddd solid;'}
					%a.pull-right{ href: '#top'}
						Top
						%i.fa.fa-arrow-up
					.clearfix


				.anchor#kb
				%li
					%strong
						Kettlebell
					(
					%strong
						kb
					): a heavy ball-shaped weight with a handle on top. Kettlebell weights are measured in crazy Russion denominations called Poods. Most common are: 1/2 pood (18lbs), 1 pood (35lbs), 1 1/2 pood (53lbs - most common for men), and 2 pood (70lbs).

				.anchor#kbs
				%li
					%strong
						Kettlebell Swing 
					(
					%strong
						kbs, Russian Kettlebell Swing, Comp Swing
					): holding the kettlebell with both hands, slightly flex knees and hips while maintaining a neutral spine (straight back) so that the kettlebell is just beneath the crotch. Then, explosively extend hips, then knees pulling the kettlebell up. Your arms should just come along for the ride, not pull, the energy for the movement should come from your hips. Maintain a neutral spine and tight core throughout. Control the kettlebell back to the starting position and repeat. There are several variations on the kettlebell swing. Russian swings bring the kettlebell up to chest height (arms parallel to the floor). The American swing ends with full extension overhead while maintaining straight arms throughout. A 'Competition' or 'Comp' swing meets the American standards (overhead), but doesn't care how you get there. So, comp swings often see athletes swinging the kettlebell into a tight Russian position with bent elbows, then pressing the kettlebell overhead to finish. 

				.anchor#kip
				%li
					%strong
						Kipping 
					(
					%strong
						Kip
					): Kipping describes the use of explosive strength in order to gain momentum when performing pullups, hand stands, pushups, and dips. There tends to be a lot of misunderstanding and controversy around Crossfit & kipping pullups. Crossfitters also do strict pullups, weighted pullups, chinups, and a hundred other variations, but when the workout just says "pullups" kipping is allowed and even encouraged for those who are able.

				.anchor#knees_out
				%li
					%strong
						Knees Out: 
					often when squatting or in squat position, the coach will prompt you with the exhortation: 'knees out!' . The idea is to keep your knees tracking outward in line with your toes. You can think of this as applying external rotation to your legs/feet while performing a squat. It can help to imagine pulling the floor apart with your feet as you squat.

				.anchor#kte
				%li
					%strong
						Knees to Elbows 
					(
					%strong
						kte, k2e
					): Basically a crunch in mid-air. From a dead hang on a pullup bar, bring your knees up to touch your elbows. A scaled version of 
					%a{ href: '#ttb' }
						toes to bar.

				.anchor#knurling
				%li
					%strong
						Knurling 
					(
					%strong
						knurling rings
					): hatch-marked textured pattern of the barbell. Used to enhance grip and as a reference for grip-width. Many barbells have gaps between knurling sections that create rings. Use these to establish consistent grip-widths for your cleans, snatches, and other lifts. 

				.anchor#l
				.top-link{ style: 'padding:0.5em auto;border-bottom: 1px #ddd solid;'}
					%a.pull-right{ href: '#top'}
						Top
						%i.fa.fa-arrow-up
					.clearfix

				.anchor#lsit
				%li
					%strong
						L Sit:
					holding legs at full extension perpendicular to upright torso. Can be held from floor or parallettes, or can be employed in L Sit pullups or ropeclimb. see Pike.

				.anchor#lats
				%li
					%strong
						Lats 
					(
					%strong
						latissimus dorsi
					): the muscles that run along your midback from your spine to your ribcage. They are heavily involved in pulling, especially pull-ups, but also movements such as rowing and deadlifts.

				.anchor#load
				%li
					%strong
						Load:
					an external weight (not bodyweight) to be lifted or moved through a range of motion. If lifting with a barbell, the load is the total weight of all the bumper plates used plus the weight of the bar itself (generally 45lbs for men, 33lbs for women). See Working Weight.

				.anchor#lockout
				%li
					%strong
						Lockout: 
					achieving full extension at the end of a movement. Most commonly refers to the finish position of the overhead weightlifting moves in reference to finishing with full extension of knee, hip, and elbows. May also be used with other movements, for example, pushups.

				.anchor#lumbar_cirve
				%li
					%strong
						Lumbar Curve:
					The natural curvature of the spine, especially in the small of the back where it curves towards the belly.

				.anchor#m
				.top-link{ style: 'padding:0.5em auto;border-bottom: 1px #ddd solid;'}
					%a.pull-right{ href: '#top'}
						Top
						%i.fa.fa-arrow-up
					.clearfix


				.anchor#mainsite
				%li
					%strong
						Mainsite: 
					%a{ href: 'http://crossfit.com', target: '_new' }
						crossfit.com. 
					A Mainsite WOD is a workout that was posted on crossfit.com.

				.anchor#man_maker
				%li
					%strong
						Man Maker: 
					an extremely taxing movement complex performed with dumbbells. It goes like this: starting with the dumbbells on the floor, assume a plank position with your hands on the dumbbells. Pushup, then row one dumbbell up to the armpit. Pushup again and row the other dumbbell to the other armpit. Now, hop up with your feet in a jump stance between the weights. Squat clean the dumbbells, then thruster to full lockout overhead. That's one rep. Good luck...

				.anchor#mb
				%li
					%strong
						Medicine Ball 
					(
					%strong
						Med Ball
					): a soft large-ish (roughly 20" diameter) weighted ball (often 6-20lbs). Med balls are used to drill the clean movement (med ball cleans), and in a variety of other weighted or throwing exercises (most famously 
					%a{ href: '#wb' }
						wall balls
					).

				.anchor#metcon
				%li
					%strong
						Metcon: 
					metabolic conditioning. Kind of like good old cardio, but with higher intensity.

				.anchor#gto
				%li
					%strong
						Midline Stability: 
					maintaining a natural (neutral) spine position throughout a movement.

				.anchor#mob
				%li
					%strong
						Mobility 
					(
					%strong
						MWOD, MOBWOD
					): mobility is your overall flexibility and range of motion. MOBWODs are workouts and exercises performed with the primary goal of improving your mobility. 

				.anchor#mono
				%li
					%strong
						Monostructural: 
					generally longer duration bodyweight movement that is not counted by reps. Includes, running, cycling, jumprope, swimming, rowing,  etc.

				.anchor#motor
				%li
					%strong
						Motor: 
					see 
					%a{ href: '#engine' }
						Engine.

				.anchor#mc
				%li
					%strong
						Mountain Climbers
					(
					%strong
						mc
					): begin in a plank position. Bring your right foot up as far as possible (ideally as far as and just outside your right hand). Keep you back straight and your hips level (no twisting). Return your right foot and repeat on your left. 

				.anchor#movement_standard
				%li
					%strong
						Movement Standard: 
					the specific requirements and positions that must be met for a movement in order to be considered a valid rep.

				.anchor#murph
				%li
					%strong
						Murph: 
					the grand-daddy of the Hero WODs. Murph looks nearly impossible on paper, and is definitely a chipper, but is a fantastic accomplishment and great overall test (mentally and physically). The Rx standard for Murph is to perform the following with a 20lb weighted vest for time: run 1 mile, 100 pull-ups, 200 push-ups, 300 air-squats, run 1 mile. Usually, the pull-ups, pushups, and squats are performed Cindy-style in 20 rounds, though they may also be done non-partitioned.

				.anchor#muscle
				%li
					%strong
						Muscle 
					(
					%strong
						Muscle Clean, Muscle Snatch
					): not just those big guns you’re trying to develop with all this work and clean living. In Crossfit, ‘muscle’ often refers to a finishing position standing completely upright with no bend in the knees.

				.anchor#mu
				%li
					%strong
						Muscle Up 
					(
					%strong
						mu
					): King of the gymnastics moves. Crossfitters hang from gymnastic rings and explosively pull their chest above the rings to the bottom of a dip position. From there they push up until their arms fully lock.

				.anchor#myofascial
				%li
					%strong
						Myofascial Release: 
					applying physical manipulation or pressure to muscular and connective tissue to soften, elongate, or otherwise mobilize it. See 
					%a{ href: '#foam_roller' }
						foam roller.

				.anchor#n
				.top-link{ style: 'padding:0.5em auto;border-bottom: 1px #ddd solid;'}
					%a.pull-right{ href: '#top'}
						Top
						%i.fa.fa-arrow-up
					.clearfix

				.anchor#neutral
				%li
					%strong
						Neutral: 
					neither extended nor flexed. Generally refers to full range joints such as the spine and wrists.

				.anchor#neutral_neck
				%li
					%strong
						Neutral Gaze 
					(aka 
					%strong
						Neutral Neck
					): the position of fixing your eyes on a point that results in your neck being in neutral alignment with your spine. Generally speaking, you want this point to remain constant throughout the lift. It will differ between deadlift and clean/snatch.

				.anchor#neutral_spine
				%li
					%strong
						Neutral Spine: 
					the natural position of the spine e.g. when standing upright. The spine is neither extended nor flexed. 

				.anchor#nm
				%li
					%strong
						No Measure 
					(
					%strong
						NM, NFT
					): You don't always have to keep score. Sometimes referred as Not for Time (NFT)

				.anchor#nr
				%li
					%strong
						No Rep 
					(
					%strong
						Non Rep
					): the rep doesn’t count. Points of performance were not met. Gotta do it over. No Reps generally occur during competitions like the open and are at the judge's discretion. Though sometimes honest CrossFitters no rep themselves even during normal workouts. Kinda like the opposite of 
					%a{ href: '#shaving' }
						rep shaving.

				.anchor#o
				.top-link{ style: 'padding:0.5em auto;border-bottom: 1px #ddd solid;'}
					%a.pull-right{ href: '#top'}
						Top
						%i.fa.fa-arrow-up
					.clearfix

				.anchor#oly
				%li
					%strong
						Oly 
					(
					%strong
						Oly Lift, Olympic Lift
					): one of the olympic lifts or techniques employed thereby. The olympic lifts are the Clean and Jerk and Snatch.

				.anchor#onramp
				%li
					%strong
						On Ramp: 
					Period of learning and significant scaling when athletes are new to Crossfit. Many boxes offer free or heavily discounted on ramp classes.

				.anchor#open
				%li
					%strong
						The Open: 
					every year, Crossfitters have the opportunity to compete against each other from around the world. Anyone can enter and there are divisions based on gender, age, and scaled vs Rx. The Open is comprises of 5 workouts over 5 weeks. See The Games.

				.anchor#open_hip
				%li
					%strong
						Open the Hip: 
					bring the hip joint to full extension. Your coach will often ask you to fully open he hip before dropping under the bar for the clean or snatch.

				.anchor#ohs
				%li
					%strong
						Overhead Squat 
					(
					%strong
						ohs
					): perform a full squat while supporting a load overhead in full lockout (of the arms) position. The Overhead Squat is a difficult move, especially at higher loads, and will quickly reveal issues and weaknesses in your basic squat.

				.anchor#overtrain
				%li
					%strong
						Overtrain: 
					working out can become an obsession. Especially, when you keep improving and seeing results, you just want to keep going. But failure to get adequate rest, scheduling active recovery, and delaoding once in a while can lead to overtraining. Overtraining will stop your progress right in its tracks. It is a common cause of plateaus, and it can lead to injury.

				.anchor#p
				.top-link{ style: 'padding:0.5em auto;border-bottom: 1px #ddd solid;'}
					%a.pull-right{ href: '#top'}
						Top
						%i.fa.fa-arrow-up
					.clearfix

				.anchor#pace
				%li
					%strong
						Pace: 
					the speed or at which you perform a workout. See game plan & strategy.

				.anchor#pain_cave
				%li
					%strong
						The Pain Cave: 
					if you stick with Crossfit, you will visit the Pain Cave. Heck, you may even come to appreciate the Pain Cave.

				.anchor#pain_face
				%li
					%strong
						Pain Face: 
					your first several visits to the Pain Cave may result in you wearing a Pain Face. This is no good. Giving in to the Pain Face can cause your entire body to tense up, tire out, and not perform optimally. The secret is to smile... or at least relax your facial muscles even while grinding through the most taxing chipper.

				.anchor#paleo
				%li
					%strong
						Paleo: 
					a diet that recommends the exclusion of foods that appear relatively late in human evolutionary history. The practical effects of the theory are a ban on sugars, wheat, legumes, dairy, etc. with a heavy consumption of vegetables and animal proteins and fats.

				.anchor#parrallettes
				%li
					%strong
						Parallettes: 
					gymnastics equipment composed of two bars parallel to each other and the floor. Can be used to hold L-Sit, for deficit pushups, or other gymnastics moves.

				.anchor#partition
				%li
					%strong
						Partition: 
					how you choose to break up the reps in a WOD. See Gameplan and Strategy.

				.anchor#passthroughs
				%li
					%strong
						Passthroughs: 
					a warmup movement performed with very low weight bar (e.g. pvc or dowel) whereby the bar is gripped wide, then hanging at the belly it is rotated overhead all the way round to the back and then back again while maintaining straight elobows. 
					%p
						To find your 
						%a{ href: '#snatch_grip' }
							snatch grip 
						(or at least a good starting width), perform passthroughs while progressively narrowing your grip until the move is no longer possible. The narrowest grip you can use to maintain straight arms while performing full passthroughs is a good width for your snatch grip.

				.anchor#pecs
				%li
					%strong
						Pecs 
					(
					%strong
						pectorals
					): the chest muscles. Involved in anterior arm extension movements such as pushups and bench-presses. 

				.anchor#penalty
				%li
					%strong
						Penalty: 
					sometimes the WOD will require you to perform extra work if you don't meet some standard or work requirement. Example: 55 pullups for time; pay a 10 burpee penalty every time you come off the bar.

				.anchor#physical_skills
				%li
					%strong
						Physical Skills: 
					one of 10 measurable physical attributes that can be improved via training or practice. 

				.anchor#pike
				%li
					%strong
						Pike Position 
					(
					%strong
						Pike
					): see 
					%a{ href: '#lsit' }
						L-Sit

				.anchor#pistol
				%li
					%strong
						Pistol 
					(
					%strong
						Pistol Squat
					): Also known as single leg squats, pistols require half the legs, but twice the effort. Crazy hard!


				.anchor#plank
				%li
					%strong
						Plank: 
					the classic top-of-push-up position: maintain a perfectly straight/neutral back position while supporting your weight on your hands and toes. There are seemingly a million plank variations. They may also be performed on the forearms, with wide hands & feet (starfish), on one side (side plank), etc...

				.anchor#plate
				%li
					%strong
						Plate 
					(
					%strong
						Bumper Plate
					): the big round weight plates you put on a barbell to load it. Sometimes you will be asked to use a plate as it's own load (overhead walking lunges, run with a plate, hold a plate while squatting, etc.). Plates are also sometimes used to increase the height of plyo boxes, or to support hands during deficit hspus or pushups. Plates most commonly come in 45lb, 35lb, 25lb, 15lb, and 10lb denominations.

				.anchor#plateau
				%li
					%strong
						Plateau: 
					as you train, especially when you are new to it or are deconditioned, gains come fast. But sometimes, you get stuck. You train and train but you hit no new PRs or other improvements. This is the dreaded plateau. The best way to deal with plateaus is to 1. change it up. Intensity, loads, grips, movement variations, time of day, etc. 2. Diet. Tighten up the diet. 3. Make sure you are getting enough rest. 4. Power through.

				.anchor#points-of_performance
				%li
					%strong
						Points-of-Performance: 
					recommendations for optimum efficiency while performing a movement. Includes standards for a movement that must be met in order to count as a rep. See movement standard.

				.anchor#pood
				%li
					%strong
						Pood 
					(
					%strong
						Pd
					): weird Russian unit of weight for kettlebells. One pood is around 35lbs.

				.anchor#posterior
				%li
					%strong
						Posterior:
					your back aka your back-side.

				.anchor#posterior_chain
				%li
					%strong
						Posterior Chain: 
					The hamstrings and glutes. The muscles in the back of your legs.

				.anchor#power
				%li
					%strong
						Power: 
					one of the 10 physical skills. Power is your ability to exert maximum force in a minimum time. Explosiveness.

				.anchor#power_position
				%li
					%strong
						Power Position: 
					a finishing position whereby the legs are bent. Anywhere between a squat and a muscle position. 

				.anchor#pr
				%li
					%strong
						PR 
					(aka 
					%strong
						PB
					): Personal Record, or Personal Best. The you've ever done on a workout or lift.

				.anchor#practice
				%li
					%strong
						Practice: 
					repeat a movement so as to develop skill and proficiency at the movement. Practice seeks to develop cultivate and neural patterns vs muscular or energy system capacity. This is as opposed to Training.

				.anchor#prescription
				%li
					%strong
						Prescription: 
					what you are supposed to do. See 
					%a{ href: '#rx' }
						Rx

				.anchor#programming
				%li
					%strong
						Programming: the prescription of wods (and rest) over time.

				.anchor#progression
				%li
					%strong
						Progression: 
					a series of scaled movements on the way toward mastery of another more complicated of difficult movement.

				.anchor#pukie
				%li
					%strong
						Pukie 
					(
					%strong
						Uncle Pukie, Pukie-the-clown
					): an early CrossFit mascot representing the craziness and intensity of CrossFit. 'Meeting Uncle Pukie' is an expression referring to working out so hard that you puke. The kind of thing that gives CrossFit a bad rap. No, it is not a badge of honor to work so hard that you puke.

				.anchor#pull
				%li
					%strong
						The Pull: 
					coaches often refer to three pulls when coaching oly lifts (first pull deadlifting from the ground, second pull fully extending the hips, third pull shrugging up the shoulders and lifting the arms to drop yourself under the weight). But in reality, these three phases are all part of one continuous pull. If you're working on your pull, you're focusing on moving the weight from the ground to the receiving position.

				.anchor#pu
				%li
					%strong
						Pull-up 
					(
					%strong
						pu
					): ahh the mighty pull-up. Hang from a bar with your arms at full extension, then simply pull yourself up so that your chin is higher than the bar with a neutral gaze. Many variations: kipping (butterfly or c-kip are allowed when no variation is specified), wide grip, strict (no kipping), jumping pull-up, etc.

				.anchor#pp
				%li
					%strong
						Push Press 
					(
					%strong
						pp
					): movement of the weight from the front-rack position to overhead while using a slight bend (dip) and extension of the hips for momentum. The knees and hips must extend to full lockout and remain there through the dip to the top of the movement. Any re-bend on the way up is technically considered a jerk.

				.anchor#pvc
				%li
					%strong
						PVC: 
					plastic pipes (usually white and about an inch in diameter). PVCs are often used as weightlifting training aids. They may also be used for mobility work (especially for shoulders).

				.anchor#q
				.top-link{ style: 'padding:0.5em auto;border-bottom: 1px #ddd solid;'}
					%a.pull-right{ href: '#top'}
						Top
						%i.fa.fa-arrow-up
					.clearfix

				.anchor#quads
				%li
					%strong
						Quads 
					(
					%strong
						quadriceps
					): muscles at the front (anterior) and top of the legs that run from the hip to the knees. Quads enable leg extension at the knee and are involved in all leg-straightening movements such as squats, deadlifts, and push-press. It should be noted, however, that the quads are relatively weak and should play a secondary role in all these moves to the glutes. 

				.anchor#quarter_squat
				%li
					%strong
						Quarter Squat: 
					see 
					%a{ href: '#power_position'}
						Power Position.

				.anchor#quiet
				%li
					%strong
						Quiet: 
					perform a movement without any extraneous movement, twitching, lunging, heaving, etc.

				.anchor#r
				.top-link{ style: 'padding:0.5em auto;border-bottom: 1px #ddd solid;'}
					%a.pull-right{ href: '#top'}
						Top
						%i.fa.fa-arrow-up
					.clearfix

				.anchor#ranch
				%li
					%strong
						The Ranch: 
					part of the CrossFit origin story, the Ranch was (is) the first place to ever host The Games.

				.anchor#rack
				%li
					%strong
						Rack 
					( aka 
					%strong
						from the rack, weight-rack
					): metal cage-like structure that is used to hold weights off the ground prior to lifts such as the backsquat and bench press. Not to be confused with rack position or front rack.

				.anchor#rom
				%li
					%strong
						Range of Motion 
					(
					%strong
						ROM
					): the full amount of movement or degree of flexibility in a joint. The difference in distance or angle between a joint's full extension and full flexion positions. 

				.anchor#receiving_position
				%li
					%strong
						Receiving Position 
					(aka 
					%strong
						The Catch
					): 
					the position of the body at the moment the barbell's downward momentum is stopped and held before being lifted to the finish position. Common receiving positions are squat, power, and muscle.

				.anchor#recovery
				%li
					%strong
						Recovery: 
					you don't get stronger faster, or even more coordinated while you are working out. Your body needs time to repair, build, and grow neural pathways. Programming your recovery is just as important as programming your workouts. This includes adequate nightly sleep, active recovery days, deloading, and rest days. 

				.anchor#redline
				%li
					%strong
						Red-Line: 
					failure to pace. Going so hard during a workout that you reach a point of sub-optimal performance where you can no longer breathe and/or function. See 
					%a{ href: '#blow_up' }
						Blowing Up.

				.anchor#regionals
				%li
					%strong
						Regionals: 
					kind of like the semi-finals of the Crossfit Open. The best athletes from the Open in each geographical area around the world go to that area's regionals. The best athletes from each regional advance to The Games.

				.anchor#renegade_row
				%li
					%strong
						Renegade Row: 
					performed with dumbbells. Start in a plank position, with your hands on the dumbbells slightly narrower than your shoulders and your feet slightly wider than your shoulders. Make sure your back is straight and your butt is not raised! In a controlled motion, bring one dumbbell from the floor to the same armpit while maintaining a flat back. Do NOT twist the trunk or hips! Lower the weight to the starting position in a controlled manner, and repeat on the other side. That's one rep.

				.anchor#rep
				%li
					%strong
						Rep: 
					one performance of a movement.

				.anchor#rep_max
				%li
					%strong
						Rep Max 
					(aka
					%strong
						rm... 1rm, 3rm, etc.
					): the most weight you can lift safely and successfully for a certain number of reps. A one rep max (1rm) deadlift is the heaviest single deadlift you have ever done. 

				.anchor#rep_scheme
				%li
					%strong
						Rep Scheme: 
					the rep scheme simply tells you how many sets and reps to perform of each exercise. Rep schemes are written as sets x reps. So 3 x 6 means three sets of 6 reps each. Crossfit workouts (especially chippers) may also include multiple movements performed in groups of reps. E.g. Fran 's rep scheme is 21-15-9.

				.anchor#resistance_band
				%li
					%strong
						Resistance Band: 
					loop of elastic that stretches. They are often used to make certain movements easier (see Banded Assistance). As the bands are stretched, they pull back against gravity in the direction of the movement thereby making it easier. They may also be used as weights, with he athlete pushing or pulling against the resistance. Resistance bands are also used in certain mobility drills to improve flexibility. They come in varying thicknesses. The thicker the band, the more tension (therefore resistance or assistance) it provides.

				.anchor#rest
				%li
					%strong
						Rest: 
					the easiest part of any WOD! Sometimes rest is programmed into the workout to force you to recover a bit so you can give maximum effort on the next interval(s). EMOMs have rest built in (assuming you're fast enough). 

				.anchor#rest_day
				%li
					%strong
						Rest Day: 
					rest can also refer to a scheduled day when you don't workout at all. Taking a rest day once in a while is vital to see improvements. Also see 
					%a{ href: '#active_recovery' }
						Active Recovery, 
					%a{ href: '#deload' }
						Deload.

				.anchor#rhabdo
				%li
					%strong
						Rhabdo 
					(aka 
					%strong
						rhabdomyolysis
					): a dangerous condition caused by overexertion where skeletal muscle fibers are broken down and rupture. The muscle damage releases byproducts into the bloodstream (such as myoglobin) which can cause kidney failure. Symptoms include muscle pain, weakness, vomiting, and confusion. Urine may become discolored brown-ish. Untreated rhabdo can be fatal. If you suspect that you or someone you know may have rhabdo, hydrate and seek medical care immediately.

				.anchor#ring_dip
				%li
					%strong
						Ring Dip: 
					begin by supporting the body above the rings with the arms fully extended. Lower the chest in a controlled fashion so that the armpits go below the top of the rings. Extend the arms to full extension returning the body to the start position.

				.anchor#rip
				%li
					%strong
						Rip: 
					Rips are sores that develop (often as ruptured blisters) in the palms or fingers from doing high reps of pullups, toe to bars, muscle ups, or other bar work.

				.anchor#roll_out
				%li
					%strong
						Roll Out: 
					the use of a foam roller to loosen connective tissue pre or post workout. See 
					%a{ href: '#foam_roller' }
						Foam Roller, 
					%a{ href: 'myofascial_release' }
						Myofascial Release. 
					Rollout can also sometimes refer to a movement/exercise: see 
					%a{ href: '#barbell_rollout' }
						Barbell Rollout.

				.anchor#rdl
				%li
					%strong
						Romanian Deadlift 
						(
					%strong
						rdl
					): a variation of the deadlift where you maintain straight (or nearly straight) legs for the entirety of the movement.

				.anchor#rope_climb
				%li
					%strong
						Rope Climb: 
					another classic callback to gym class. Simple as it sounds: climb up the rope. CrossFit standard is usually 15 feet high. Be sure to wear long socks to avoid rope burns.

				.anchor#round
				%li
					%strong
						Round: 
					a repeated circuit of a number of reps or a number of movements. Like a Set.

				.anchor#rounded_back
				%li
					%strong
						Rounded Back: 
					loosing midline stability. Having your shoulders slump forward and loosing core rigidity and lumbar curve. You don't ever want to do this.

				.anchor#rft
				%li
					%strong
						Rounds for Time 
					(
					%strong
						RFT
					): a task priority workout that specifies a repeated circuit or rep scheme that you must complete a certain number of times. Your score is the time it takes you to complete all the rounds.

				.anchor#row
				%li
					%strong
						Row: 
					one of the only pieces of cardio equipment that CrossFit regularly employs (treadmills have occasionally appeared in Games workouts). A rower is a machine that simulates rowing as in the sport of crew, but instead of oars you pull a handle that offers resistance by turning a fan. The seat slides back and forth so that you can use your legs to initiate the stroke (this is important!). This makes rowing truly a full-body functional movement. Like water, the resistance is relative to the effort. In other words, pulling harder creates more resistance, and pulling gently creates relatively less. That means rowing is somewhat self-scaling (though slower, gentler rows will take longer and burn fewer calories). Rowing is also minimum to zero impact and easy on joints.

				.anchor#run
				%li
					%strong
						Run 
					(
					%strong
						100m, 400m, 800m, 1mile, 5k
					): in CrossFit, you don't jog (except on active recovery days), you run. Because you run, you don't often run too far at once. The most commonly prescribed distances are 100m, 400m, 800m and sometimes 1 mile.

				.anchor#rx
				%li
					%strong
						Rx: 
					the prescribed movements, standards, and weights (load) for a workout. To Rx a WOD is to perform it as prescribed without modification or scaling.

				.anchor#s
				.top-link{ style: 'padding:0.5em auto;border-bottom: 1px #ddd solid;'}
					%a.pull-right{ href: '#top'}
						Top
						%i.fa.fa-arrow-up
					.clearfix

				.anchor#samson_stretch
				%li
					%strong
						Samson Stretch: 
					take a lunge step leaving one leg low and straight behind you (you can touch the knee to the ground). Lift your arms above your head and open your hip as much as possible. You may also gently twist and rotate side to side.

				.anchor#sandbag
				%li
					%strong
						Sandbag: 
					sometimes you have to scale, sometimes you have to take an active recovery day, but if you consistently take low weight for your abilities you are sandbagging. And your coach knows it! 
					%p
						Can also refer to actual bags filled with sand which are sometimes prescribed as irregular loads to use during workouts. Sandbags can range in weight from 20lbs to well over 100lbs. Common uses include sandbag cleans and sandbag carries

				.anchor#scale
				%li
					%strong
						Scale: 
					modify a workout to make it easier.

				.anchor#scarecrow
				%li
					%strong
						Scarecrow: 
					a prompt used to remind you to keep your elbows high when executing the third pull of an olympic lift. Keeping your elbows up in the scarecrow position keeps the barpath close and efficient.

				.anchor#score
				%li
					%strong
						Score: 
					what you put on the whiteboard to keep track of your performance. Usually, this is either the total number of reps you completed (for 
					%a{ href: '#amrap' }
						AMRAP
					), or the time it took you to finish (
					%a{ href: '#ft' }
						For Time
					).

				.anchor#set
				%li
					%strong
						Set: 
					a certain number of repetitions. Often, in the strength training part of the workouts work is prescribed as setsXreps. So 4x8 means 4 sets of 8 reps each.

				.anchor#seven
				%li
					%strong
						The Seven: 
					a Hero WOD honoring the seven people killed in the CIA bombing in 2009. Seven rounds of seven movements, seven reps each round. The movements are: handstand push-ups, 135lb thrusters, knee-to-elbows, 245lb deadlift, burpees, 2 pood kettlebell swings, pull-ups. 

				.anchor#shave
				%li
					%strong
						Shave 
					(
					%strong
						Shave Reps, Rep Shaver
					): when you cheat a workout by deliberately miscounting or skipping reps, you are a shaver. You're only cheating yourself. While there is no shame in finishing last, there is shame in shaving.

				.anchor#s2o
				%li
					%strong
						Shoulder to Overhead 
					(
					%strong
						s2o, s2oh, sto
					): movement that takes a barbell weight from the front rack position to full lockout overhead. Shoulder to overhead may be a strict press, push press, or push jerk as long as full extension is achieved at the top.

				.anchor#su
				%li
					%strong
						Single-Under 
					(
					%strong
						su
					): just plain old jumping rope. Single-unders are almost never prescribed in Crossfit workouts. Some coaches scale double-unders by allowing athletes to sub single-unders at a ratio of 3-1.

				.anchor#situp
				%li
					%strong
						Sit-Up: 
					by default, when sit-ups are prescribed you'll be doing abmat sit-ups. See 
					%a{ href: 'absu' }
						Abmat Sit-up.

				.anchor#skill_training
				%li
					%strong
						Skill Training 
					(
					%strong
						Specific Physical Preparedness, SPP, Practice
					): focused work to develop a specific skill or movement.

				.anchor#slam_ball
				%li
					%strong
						Slam Ball: 
					a soft heavy ball. Slam balls are generally smaller and heavier than medicine balls. There are lots of things you can do with Slam Balls, but see below for the movement named: 'Slam Ball'

				.anchor#slam_ball_move
				%li
					%strong
						Slam Ball Movement: 
					if a workout calls for Slam Balls, it means: take a slam ball, pick it up fully overhead, then forcefully drive it into the ground between your feet. Pick it up (ideally on the rebound), return it to overhead, and repeat.

				.anchor#snatch
				%li
					%strong
						Snatch: 
					The snatch has many variations but the overall goal is to use a wide grip to lift a weight from the floor to an overhead position in one lightning-fast motion.

				.anchor#snatch_balance
				%li
					%strong
						Snatch Balance: 
					beginning with the bar in the back rack with a snatch grip and feet in jumping position, simply drop as rapidly as possible into the bottom overhead squat position and stand.

				.anchor#snatch_grip
				%li
					%strong
						Snatch Grip 
					(aka 
					%strong
						Wide Grip
					): gripping the barbell with the hands fairly far apart. See 
					%a{ href: '#passthroughs' }
						Passthroughs.

				.anchor#speed
				%li
					%strong
						Speed: 
					one of the 10 physical skills. Speed is your ability to perform and repeat a movement in the shortest time possible. 

				.anchor#split_jerk
				%li
					%strong
						Split Jerk: 
					an explosive movement of the barbell from the front rack to overhead during which the feet are split one more-or-less in front of the other. To split jerk, first find your dominant (front foot). This is the foot you would put in front on a skateboard or snowboard. It's also the foot you would naturally brace with if someone suddenly pushed you from behind. Dip and punch the weight upwards while dropping below the bar with your dominant leg bent slightly in front of you and your non-dominant leg nearly straight behind you. Your rear heel should be turned out slightly and your front toe turned slightly in. Recover by first stepping back with the front foot, then forward with the back foot to arrive at full extension with the feet under hips and the barbell overhead.

				.anchor#squat_depth
				%li
					%strong
						Squat Depth: 
					hips below knees. This is the standard for all types of squats, including the bottom of thrusters and wall balls. It's also the required receiving position for squat cleans and squat snatch.

				.anchor#squat_stance
				%li
					%strong
						Squat Stance: 
					feet roughly shoulder width apart.

				.anchor#stamina
				%li
					%strong
						Stamina: 
					one of the 10 physical skills. This is your ability to store and use energy efficiently, especially for a long time.

				.anchor#stink_bug
				%li
					%strong
						Stink Bug: 
					If the WOD requires handstand pushups, but you're not quite there yet, your coach may ask you do do stinkbugs instead. A stinkbug is a progression towards the handstand pushup. To perfom a stink bug, place your hands on the floor while your knees are supported by a plyo box.

				.anchor#strategy
				%li
					%strong
						Strategy: 
					determining an approach to a WOD. Deciding how to break reps up beforehand. See 
					%a{ href: '#game_plan' }
						game plan.

				.anchor#strength
				%li
					%strong
						Strength: 
					one of the 10 physical skills. Strength is simply your ability to apply force. In other words, your ability to move loads through space. The difference between strength and power is that strength is not measured in terms of time.

				.anchor#strict
				%li
					%strong
						Strict: 
					No kipping allowed. Perform the movement in a smooth and controlled fashion. Imagine you are being judged in the olympics. For overhead lifts, refers to no dip or jerk.

				.anchor#sub
				%li
					%strong
						Substitute 
					(
					%strong
						sub
					): swap one exercise or movement for another. Often used when scaling. E.g. "You can sub V-Ups for Toe to Bars."

				.anchor#suicide_grip
				%li
					%strong
						Suicide Grip: 
					gripping a bar with the thumb on the same side as the fingers. The suicide grip can be comfortable and tempting for some people, but you don't want to use it. Especially not for pullups, toe to bar, etc when you might be kipping from the bar.

				.anchor#sdhp
				%li
					%strong
						Sumo Deadlift High Pull 
					(
					%strong
						sdhp
					): Using a wide stance, CrossFitters stand over a barbell and explosively pull from the ground upward until the bar comes up to collarbone height. 

				.anchor#superset
				%li
					%strong
						Superset: 
					dovetail strength sets with no rest in-between.

				.anchor#buddy
				%li
					%strong
						Surpee 
					(aka 
					%strong
						Slurpee
					): sit-up into push-up into burpee

				.anchor#sweat_angel
				%li
					%strong
						Sweat Angel: 
					like a snow angel, except made by sweat. Sweat Angels are the sweaty impressions left on the floor by Crossfitters who like to dramatize their effort by lying on the floor and flopping around after a hard workout. Look, we know the workout was hard. We know you are beat. But have some self-respect - don't lie down on the floor. Just don't.

				.anchor#t
				.top-link{ style: 'padding:0.5em auto;border-bottom: 1px #ddd solid;'}
					%a.pull-right{ href: '#top'}
						Top
						%i.fa.fa-arrow-up
					.clearfix

				.anchor#tabata
				%li
					%strong
						TABATA: 
					Often associated with CrossFit WODs, TABATA is a work-rest method (Eight rounds 20 seconds of work, followed by 10 seconds of rest). Intensity is key to reaping the benefits of this workout style. It sounds esy until you're five bouts in and realize you still have three to go.

				.anchor#task_priority
				%li
					%strong
						Task Priority: 
					A workout where some amount of work is specified and you have to get it all done regardless of how long it takes you. Another way of saying: 
					%a{ href: '#ft' }
						For Time.

				.anchor#tempo
				%li
					%strong
						Tempo: 
					work slowly, sometimes lowering or raising weight to ta specific count. Working at tempo eliminates momentum and bounce. Tempo squats, tempo bench press, etc.
	
				.anchor#third_pull
				%li
					%strong
						Third Pull: 
					a term used in olympic weightlifting. The first pull brings the weight off the ground. The second pull achieves triple extension. The third pull brings you under the weight to receive it in the snatch or clean.

				.anchor#thruster
				%li
					%strong
						Thruster: 
					The bane of all CrossFitters’ existence. Thrusters are “simply” a front squat straight into a push press. Sounds simple? They're deceptively tiring.

				.anchor#time_priority
				%li
					%strong
						Time Priority: 
					You get a certain amount of time and you perform as much work as you can in that time. If your coach says that today's WOD is a time priority workout, it basically means you're doing an 
					%a{ href: '#amrap' }
						AMRAP.

				.anchor#ttb
				%li
					%strong
						Toes to Bar 
					(
					%strong
						ttb, t2b
					): Toes to bar is a gymnast move that calls for you to bring the toes up vertically, to touch the pull up bar between your hands, from a dead hang on a pull-up bar.
				
				.anchor#tng
				%li
					%strong
						Touch and Go 
					(
					%strong
						TnG
					): fluidly linking reps with no pause between them. Often used in reference to weightlifting movements from the floor.

				.anchor#train
				%li
					%strong
						Train: 
					activity that seeks to elicit a physiological adaptation in a muscular or energy-processing system. You may train strength by lifting heavier loads, or cardio conditioning by completing a MetCon faster. As opposed to Practice which is skill development.

				.anchor#training_bar
				%li
					%strong
						Training Bar: 
					a lightweight barbell used to train or practice weightlifting movements. Training bars usually weigh 15lbs.

				.anchor#transition
				%li
					%strong
						Transition: 
					get from one movement to another. You can often gain efficiency by having quick transitions during a WOD.
				
				.anchor#traps
				%li
					%strong
						Traps (
					%strong
						trapezius
					): the musculature of the upper middle back, top of the shoulder, and behind the neck. Traps are involved in shrugging the shoulders, so play a pivotal role in cleans and snatches. They also assist the delts during overhead presses.

				
				.anchor#triceps
				%li
					%strong
						Triceps: 
					the muscles of the rear (anterior) top of the arm. Triceps enable arm extension at the elbow. They are utilized during any arm extension movements such as presses, pushups, and dips.  
				.anchor#triple_ext
				%li
					%strong
						Triple Extension: 
					an olympic lift position of achieving full extension of the ankle, knee, and hip. You want to get triple extension at the end of the second pull before pulling yourself under the barbell.

				.anchor#triplet
				%li
					%strong
						Triplet: 
					three movements performed in a circuit. Cindy is a triplet of pull-ups, push-ups, and squats.

				.anchor#tgu
				%li
					%strong
						Turkish Get Up 
					(
					%strong
						tgu
					): often performed with a kettlebell, the turkish getup is a weighted movement from your back to standing upright. You start on your back with your fully extended arm supporting a weight. Your other arm is flat on the floor at a 45-degree angle to your body. Your weight-side leg is bent with the foot on the floor. You begin the movement by rising up onto your non-weighted elbow, then hand, then pull your hips up off the floor, then pull your non-weight-side leg under your hips and behind you so that you are in a kneeling position on one leg, then stand up. The weight is supported directly overhead by a straight arm throughout the movement.

				.anchor#twelvedays
				%li
					%strong
						Twelve Days of Christmas: 
					an infamous WOD often performed around the holidays. Neither a benchmark nor a hero.

				.anchor#u
				.top-link{ style: 'padding:0.5em auto;border-bottom: 1px #ddd solid;'}
					%a.pull-right{ href: '#top'}
						Top
						%i.fa.fa-arrow-up
					.clearfix

				.anchor#unbroken
				%li
					%strong
						Unbroken: 
					perform all prescribed reps without rest or break.

				.anchor#v
				.top-link{ style: 'padding:0.5em auto;border-bottom: 1px #ddd solid;'}
					%a.pull-right{ href: '#top'}
						Top
						%i.fa.fa-arrow-up
					.clearfix

				.anchor#variation
				%li
					%strong
						Variation: 
					an alternate form of a movement. Some movements are more like families and have many, many variations. Different grips, starting positions, intermediate positions, ending positions, loads, form requirements, etc can all constitute variations. Sometimes you'll scale a movement by performing one of its variations.

				.anchor#vest
				%li
					%strong
						Vest: 
					a weighted vest. Usiually 20lbs. Prescribed for rx 
					%a{ href: '#murph' }
						Murph.

				.anchor#vup
				%li
					%strong
						V-Up: 
					an abdominal movement where you lie on the floor, then pull your shoulders up and raise your fully straightened legs. Touch your toes at the top while maintaining your lower back in contact with the floor to complete the move.

				.anchor#w
				.top-link{ style: 'padding:0.5em auto;border-bottom: 1px #ddd solid;'}
					%a.pull-right{ href: '#top'}
						Top
						%i.fa.fa-arrow-up
					.clearfix

				.anchor#wb
				%li
					%strong
						Wallball
						(
					%strong
						WB
					): Holding a medicine ball, CrossFitters squat down and explosively stand up, throwing the ball at a target, eight-to-ten feet above their heads.

				.anchor#wall_walk
				%li
					%strong
						Wall Walk: 
					a progression toward handstand. Face away from the wall and step out so you can assume a high plank position with your feet just touching the wall. Now, 'walk' your feet up the wall and your hands back towards it until you are in a handstand position with your nose and belly against the wall. Keep your spine neutral and your core tight throughout! Slowly walk your hands forward and feet down back to the starting position.

				.anchor#walking_lunge
				%li
					%strong
						Walking Lunge: 
					Using bodyweight, a barbell on the shoulders, or a weight plate held directly overhead, CrossFitters step forward with one foot and bend both legs until their back knee taps the ground. 

				.anchor#warm_up
				%li
					%strong
						Warm Up: 
					a lighter period of activity in preparation for an intense period of activity. The goal of the warm-up is to get moving, get blood flowing, mobilize joints, and practice movements with little to no load in anticipation of heavier loads. Properly warming up is essential to performing well, and especially for avoiding injury. A general rule of thumb is that warm-ups are shorter and less intense before longer activity and longer and more intense before short activity.

				.anchor#weight_belt
				%li
					%strong
						Weight Belt: 
					a thick (wide) belt sometimes worn around the midsection while performing heavy lifts such as deadlifts and squats. The weight belt helps to stabilize the midline and keep the core tight throughout a lift.

				.anchor#whiteboard
				%li
					%strong
						The Whiteboard: 
					where the workout is posted and where all the scores are recorded.

				.anchor#win_the_warmup
				%li
					%strong
						Winning the Warmup: 
					going all-out in the warmup and blowing up during the WOD. 

				.anchor#wod
				%li
					%strong
						WOD 
					(
					%strong
						Workout of the Day
					): Plain and simple, this is the workout CrossFitters perform on a given day. 

				.anchor#wodcrastinate
				%li
					%strong
						WOD-crastinate: 
					what athletes sometimes do before a big heavy WOD. Symptomatic of The Dread. Take a little time to walk around, adjust wrist-guards, chalk up twice for luck, do some extra stretching, double-check their clips, get a sip of water.... 

				.anchor#working_weight
				%li
					%strong
						Working Weight: 
					There's the Rx weight, and then there's what you actually workout with. If the coach says: "Take 5 minutes to find a working weight", it means establish the weight where you can complete the entire workout with good form throughout, and use that regardless of what is Rx.

				.anchor#workout-schedule
				%li
					%strong
						Workout Schedule: 
					how often and on what days and what time of day you work out vs rest.

				.anchor#wraps
				%li
					%strong
						Wraps 
					(
					%strong
						Wrist Guards
					): cloth bands that wrap around your wrist to provide support during heavy lifts or other movements that place strain on wrists, such as handstands.

				.anchor#z
				.top-link{ style: 'padding:0.5em auto;border-bottom: 1px #ddd solid;'}
					%a.pull-right{ href: '#top'}
						Top
						%i.fa.fa-arrow-up
					.clearfix

				.anchor#zone
				%li
					%strong
						Zone: 
					a diet. The zone diet is the official Crossfit prescription for how to eat. Zone requires a balance of protein, fats, and carbohydrates at every meal. The diet also dictates a maximum amount of food per meal and per day (usually measured in terms of 'blocks'). CrossFit recommends Zone, because it is not as restrictive in terms of types of foods as Paleo, and it is very measurable, trackable, and therefore highly empirical as is CrossFit itself. 



		.well
			%p
				Hi there! Please consider joining our email list. We'll send you once-in-a-while updates chock-full of great health and lifestyle tips sprinkled with inspiration and discounts on cool stuff!

			= render 'swell_media/optins/form'
			.clearfix

		%hr/
		.anchor#comments
		.fb-comments{ data: { href: "http://amraplife.com/crossfit-terms", numposts: 5 } }
		
	.sidebar.col-md-4.col-lg-4.col-xl-3
		= render 'application/sidebar'

