

- cache( "faq-v1" ) do
	%section.clearfix.blogPage.singleBlog.mainContent
		.container{ style: 'position: relative;' }
			.row
				.sideBar.col-md-3.col-sm-4.col-xs-12.hidden-xs
					%nav.sidebar-scroll-nav
						%h4
							FAQ Categories
						%ul.list-unstyled.nav.sidebar-nav
							%li
								%a{ href: '#top' }
									Top
							%li
								%a{ href: '#general' }
									General Questions
							%li
								%a{ href: '#products' }
									Products
							%li
								%a{ href: '#store' }
									Store
							%li
								%a{ href: '#shipping' }
									Shipping

				#content.col-md-9.col-sm-8.col-xs-12{ style: 'border-left: 1px solid #ddd;', data: { spy: 'scroll', target: '#spy', offset: 50 } }

					#top.anchor
					%h1.content-title
						FAQs


					%p
						Websites commonly put up pages that they call FAQs, but in reality they are thinly veiled marketing ploys filled with ridiculous questions that they wish people had asked "How is it that you are so wonderful?" 
					%p
						Here are some questions that we actually do get asked frequently (or at least sometimes). We hope that the answers to these questions are helpful or entertaining to you. 
					%p
						You may have your own questions that are not yet answered here. If so,
						%a{ href: swell_media.new_contact_path, style: 'text-decoration:underline;' }
							please get in touch.
						The answers to your questions might be intersting for other visitors, too! 

					#general.anchor{ style: 'margin-top:2em;' }
					%h3{ style: 'border-bottom:1px #ddd solid;'} 
						General Questions

					%h4{ style: 'margin-top:25px;margin-bottom: 12px;font-size:18px;' }
						Who Are you?
					%p{ style: 'margin-left:2em;' }
						We are startup geeks who happen to also share a passion for fitness. We met at our last venture which was a typical tech startup that raised over $2 million in venture capital, but ultimately wasn't successful. You can read more 
						%a{ href: '/about' }
							about us here.
					
					%h4{ style: 'margin-top:25px;margin-bottom: 12px;font-size:18px;' }
						Where Are you?
					%p{ style: 'margin-left:2em;' }
						We cover nearly the full range of the continental US, with folks from Sand Diego, CA, Victoria, BC, and even Maine. Ware based in beautiful Del Mar, California. But we often like to ski in Utah.

					%h4{ style: 'margin-top:25px;margin-bottom: 12px;font-size:18px;' }
						We are a (development company, marketing agency, PR firm, etc.) located in (some offshore/non-US locale), who should we contact about your (development, hiring, marketing, PR, etc.) needs?
					%p{ style: 'margin-left:2em;' }
						No. Just no. We're not interested.



					#products.anchor{ style: 'margin-top:2em;' }
					%h3{ style: 'border-bottom:1px #ddd solid;'} 
						Products


					%h4{ style: 'margin-top:25px;margin-bottom: 12px;font-size:18px;' }
						What's the Life Meter?
					%p{ style: 'margin-left:2em;' }
						We're developing a really cool new natural-language fitness tracking platform. We call it Life Meter. Right now, it's in closed beta testing. You can learn more and/or request an invitation at 
						%a{ href: 'http://lifemeterapp.com' }
							lifemeterapp.com. 		


					%h4{ style: 'margin-top:25px;margin-bottom: 12px;font-size:18px;' }
						How should I care for my shirts?
					%p{ style: 'margin-left:2em;' }
						We recommend turning them inside out and machine or hand washing on cold. To minimize shrinking, machine dry low or hang dry. Please consult the care instructions on the garment label.		

					%h4{ style: 'margin-top:25px;margin-bottom: 12px;font-size:18px;' }
						Will the shirts shrink??
					%p{ style: 'margin-left:2em;' }
						All our shirts and tanks are pre-washed, so they shouldn't shrink too much. That said, they do contain cotton, so they may shrink a bit, and they may shrink a bit more than that if they are not washed or cared for properly.

					%h4{ style: 'margin-top:25px;margin-bottom: 12px;font-size:18px;' }
						Will the printing on the shirts and tanks fade?
					%p{ style: 'margin-left:2em;' }
						We use high quality water-based inks to produce the softest printing possible. Our gear is designed to take on the heaviest workouts. Some print may fade a little after multiple washes, but will only serve as a reminder that you wear it AMRAP.

					


					#store.anchor{ style: 'margin-top:2em;' }
					%h3{ style: 'border-bottom:1px #ddd solid;'} 
						Store

					%h4{ style: 'margin-top:25px;margin-bottom: 12px;font-size:18px;' }
						What is your return policy?
					%p{ style: 'margin-left:2em;' }
						We want you to be 100% satisfied with your purchase. Items in new condition (unworn/unwashed) can be returned or exchanged within 14 days of delivery.  If we made a mistake or the item arrived defective, please 
						%a{ href: '/contacts/new' }
							contact us here 
						and we’ll make things right. Please be sure to double-check the measurements listed on the product page for each garment before ordering. 

					%h4{ style: 'margin-top:25px;margin-bottom: 12px;font-size:18px;' }
						What forms of payment do you accept?
					%p{ style: 'margin-left:2em;' }
						We accept major credit cards such as Visa, MasterCard, American Express, and Discover.



					#shipping.anchor{ style: 'margin-top:2em;' }
					%h3{ style: 'border-bottom:1px #ddd solid;'} 
						Shipping
					
					%h4{ style: 'margin-top:25px;margin-bottom: 12px;font-size:18px;' }
						How much is shipping?
					%p{ style: 'margin-left:2em;' }
						We hate it when companies use shady tricks like discounting their products, but charging ridiculous amounts for shipping. Our shipping is always free to the continental US. There is no minimum order.
					
					%h4{ style: 'margin-top:25px;margin-bottom: 12px;font-size:18px;' }
						How long does it take to get my items?
					%p{ style: 'margin-left:2em;' }
						Please allow for a couple days for us to process your order, then up to a week for shipping.
					
					%h4{ style: 'margin-top:25px;margin-bottom: 12px;font-size:18px;' }
						Can my order be rushed?
					%p{ style: 'margin-left:2em;' }
						Unfortunately, we are a fairly small outfit with limited inventory and we can't rush orders at this time. We've chosen to offer fair, clear shipping policies (i.e. free) vs complicated shipping options. That said, if your order contains a gift and you're behind the proverbial 8-ball, plase 
						%a{ href: '/contacts/new' }
							drop us a line 
						and well see what we can do.

