
.section.row.entries.bg-primary.section-no-margin-bottom
	.col-lg-12.col-xl-12
		.row
			%article.entry.style-grid.style-hero.hero-md-largest.type-post.col-md-12.col-lg-12.colheight-sm-3.colheight-md-3.colheight-lg-3.colheight-xl-3
				.ribbon.ribbon-pulled.ribbon-small.ribbon-highlight
					%a{ href: '#' }
						Ready Ready
				%header.entry-header
					%h3.entry-title
						Coming Soon
				%figure.entry-thumbnail
					%a.overlay.overlay-primary{ href: '#' }
						%img{ src: 'http://www.menshealth.com/sites/menshealth.com/files/sprint-exercise.jpg', style: 'opacity:0.66' }
			




						





