- cache( "inspirations" ) do
	
	%section.mainContent.clearfix

		.jumbotron.text-center{ style: 'margin-top: 4em;' }
			.container
				.row
					.col-xs-12
						%h1
							Free Inspirational Wallpapers
						%p
							Get 12 free motivational wallpapers delivered straight to your inbox. They look great as screensavers, wallpapers, or even posters for your gym.
						%a.btn.btn-primary
							Get Inspired
							%i.fa.fa-chevron-right





