

- cache( "recipes/index" ) do
	%section.clearfix.blogPage{ style: 'padding-top: 50px;' }
		.container
			.row
				.col-md-9.col-sm-8.col-xs-12
					.row.productListSingle
						- @recipes.each do |recipe|
							= render 'row', recipe: recipe

					.paginator{ style: 'margin-bottom: 2em;' }
						= raw paginate @recipes
					
				.sideBar.col-md-3.col-sm-4.col-xs-12
					= render 'application/sidebar'


