.buy-btn {
	min-height: 120px;
}
.buy-btn .shopify-buy-frame {
	margin: auto;
}

.entry-meta .price-info .price {
	font-size: 1.5em;
}

.style-single .zoom-gallery>img {
	margin-bottom: 0;
}

.zoom-gallery h3, .style-single .zoom-gallery h3 {
	margin-bottom: 5px;
}
.zoom-gallery .gallery img {
	width: 50px;
}

.zoom-gallery.hide-gallery .gallery,
.zoom-gallery.hide-gallery .gallery-title
{
	display: none;
}
