- cache( "card-#{article.cache_key}" ) do
	.col-sm-4.col-xs-6
		.media
			%a.media-left{ href: article.url }
				%img.img.img-responsive.media-object{ src: article.avatar }
			.media-body
				%h5.media-heading
					%a{ href: article.url }
						= article.title