- cache( "row-#{article.cache_key}" ) do
	.row
		.col-xs-12
			.thumbnail
				.caption
					%h3.text-center
						= link_to article.title, article.url, style: "line-height:1.25;font-family:'PT Serif', serif;"
				%a{ href: article.url }
					%img{ src: article.cover_image, alt: article.title }
					.caption
						.row
							.col-xs-12
								.content-preview
									= raw article.description
									
									%a{ href: article.url, style: 'color:#337ab7;' }
										Read More
										%i.fa.fa-arrow-right


		
