- cache( "row-#{article.cache_key}" ) do
	.row
		.col-xs-12
			.thumbnail
				%a{ href: article.url }
					%img{ src: article.avatar, alt: article.title }
					.caption
						.row
							.col-xs-12
								%h3
									= link_to article.title, article.url
								%p
									= raw article.description
									
									%a{ href: article.url, style: 'color:#337ab7;' }
										Read More
										%i.fa.fa-arrow-right


		
