- cache( "show-#{@media.cache_key}" ) do
	%section.lightSection.clearfix.pageHeader
		.container
			.row
				.col-xs-6
					.page-title
						%h2
							= @media.title
				.col-xs-6
					%ol.breadcrumb.pull-right
						%li
							%a{:href => swell_media.root_path()} Home
						%li.active{:title => "AMRAP Blog" }
							%a{:href => swell_media.articles_path }
								Blog

	%section.mainContent.clearfix.blogPage.singleBlog
		.container
			.row
				.col-md-9.col-sm-8.col-xs-12
					.row
						.col-xs-12
							.thumbnail
								%img{ src: @media.cover_image, alt: @media.title }

								%caption
									.row
										.col-xs-12
											%p.article-content
												= raw @media.content
				.sideBar.col-md-3.col-sm-4.col-xs-12
					= render 'application/sidebar'