- cache( "show-#{@media.cache_key}" ) do
	%section.clearfix.blogPage.singleBlog{ style: 'padding-top: 50px;' }
		.container
			.row
				.col-md-9.col-sm-8.col-xs-12
					.row
						.col-xs-12
							%h1.text-center
								= @media.title
							.thumbnail
								%img{ src: @media.cover_image, alt: @media.title }

								.addthis_inline_share_toolbox.hidden-xs.hidden-sm
								
								%caption
									.row
										.col-xs-12.content
											= raw @media.content
				.sideBar.col-md-3.col-sm-4.col-xs-12
					= render 'application/sidebar'