
%section.mainContent.clearfix.setp5
	.container
		.row
			.col-xs-12
				.thanksContent
					%h2
						Thank You For Your Order
						%small
							You will receive an email of your order details
					%h3
						Shipping Details

					.thanksInner
						.row
							.col-sm-6.col-xs-12.tableBlcok
								%address
									%span
										Email:
										%a{ href: '' }
											some@email.com
									%br
									%span
										Shipping:
										addy1 city, ST 11111
							.col-sm-6.col-xs-12
								.well
									%h2
										%small
											Order ID:
										1234SomeID
