
%table.table
	%thead
		%th
		%th
			S
		%th
			M
		%th
			L
		%th
			XL

	%tbody
		%tr
			%td
				Length (inches)
			%td
				26 1/2
			%td
				27
			%td
				27 1/2
			%td
				28
		%tr
			%td
				Width (inches)
			%td
				15
			%td
				16
			%td
				17
			%td
				18 1/2

%h4
	Care Instructions
%ul
	%li
		Machine wash cold, inside-out, gentle cycle with mild detergent and similar colors. Use non-chlorine bleach, only when necessary. No fabric softeners.
	%li
		Tumble dry low, or hang-dry for longest life.
	%li
		Cool iron inside-out if necessary. Do not iron decoration.
	%li
		Do not dry clean.


