
.row
	.col-sm-12
		- if @observations.present?
			%center
				%h1
					Activity Feed

			= raw paginate @observations

			.main-box.feed
				.main-box-body.clearfix
					%ul
					- @observations.each do |observation|
						= render 'observations/feed_item', observation: observation
		- else
			%center
				%h1
					No Activity Yet