.row
	.col-xs-12
		%h1
			= SwellMedia.app_name
			Admin

.row
	.col-xs-4
		.well
			%a{ href: 'https://analytics.google.com/analytics/web/', targe: '_new' }
				%center
					%img.img.img-responsive{ src: 'https://www.wired.com/wp-content/uploads/2015/09/google-logo-1200x630.jpg' }
				Google Analytics
	
	.col-xs-4
		.well
			%a{ href: 'https://business.facebook.com/home/accounts', targe: '_new' }
				%center
					%img.img.img-responsive{ src: 'https://facebookbrand.com/wp-content/themes/fb-branding/prj-fb-branding/assets/images/fb-art.png' }
				Facebook Business Manager

	.col-xs-4
		.well
			%a{ href: 'https://www.printful.com/', targe: '_new' }
				%center
					%img.img.img-responsive{ src: 'https://www.printful.com/static/images/layout/printful-logo.png' }
				Printful
.row
	.col-xs-4
		.well
			%a{ href: 'https://www.amazon.com/', targe: '_new' }
				%center
					%img.img.img-responsive{ src: 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/AmazonWebservices_Logo.svg/2000px-AmazonWebservices_Logo.svg.png' }
				AWS

	.col-xs-4
		.well
			%a{ href: 'https://affiliate-program.amazon.com/home', targe: '_new' }
				%center
					%img.img.img-responsive{ src: 'http://www.mymagicbag.com/wp-content/uploads/2016/08/amazon-associates.png' }
				Amazon Affiliate

	.col-xs-4
		.well
			%a{ href: 'https://sellercentral.amazon.com/gp/homepage.html', targe: '_new' }
				%center
					%img.img.img-responsive{ src: 'https://static1.squarespace.com/static/53f4ac45e4b06d7c91d48e93/t/5592f975e4b01184df815975/1435695479305/Amazon+FBA+pros' }
				Amazon Sellers






