#content.content.section.row
	.col-xs-12.bg-base
		.ribbon.ribbon-highlight
			%ol.breadcrumb.ribbon-inner
				%li
					%a{ href: swell_media.root_path() }
						Home
				%li.active
					Your Card
	
		.row
			.col-sm-10.col-sm-offset-1.bg-base
				.row
					.col-sm-12
						%h1
							Dear
							= @card.to_name

						%img{ src: @card.card_design.avatar, class: 'img img-responsive' }
				
						= @card.message

				.row
					.col-xs-12
						%hr
						%br
						%br
						%b
							From:
						= @card.from_name
						%br
						And the team at AMRAPLife.com
						%br
						%br
						%br





