#nav-col
	%section#col-left.col-left-nano
		#col-left-inner.col-left-nano-content
			#user-left-box.clearfix.hidden-sm.hidden-xs.dropdown.profile2-dropdown
				= current_user.try( :avatar_tag )
				.user-box
					%span.name
						%a.dropdown-toggle{ data: { toggle: :dropdown } }
							= current_user
							%i.fa.fa-angle-down
						%ul.dropdown-menu
							-#%li
								%a{ href: '#' }
									%i.fa.fa-user
									Profile
							%li
								%a{ href: settings_lifemeter_index_path }
									%i.fa.fa-cog
									Settings
							-#%li
								%a{ href: '#' }
									%i.fa.fa-bell
									Notifications
							%li
								%a{ href: main_app.logout_path }
									%i.fa.fa-power-off
									Logout
					%span.status
						%i.fa.fa-circle
						Online
			#sidebar-nav.collapse.navbar-collapse.navbar-ex1-collapse
				%ul.nav.nav-pills.nav-stacked
					%li.nav-header.nav-header-first.hidden-sm.hidden-xs
						Navigation
					%li{ class: set_css_if( path: '/lifemeter' ) }
						%a{ href: dash_lifemeter_index_path }
							%i.fa.fa-dashboard
							%span
								Dashboard
							-#%span.label.label-primary.label-circle.pull-right
								= current_user.observations.count
					%li{ class: set_css_if( controller: :metrics ) }
						%a{ href: main_app.metrics_path }
							%i.fa.fa-line-chart
							%span
								Things You're Tracking
					%li{ class: set_css_if( controller: :observations ) }
						%a{ href: main_app.observations_path }
							%i.fa.fa-eye
							%span
								Observations
							-#%span.label.label-success.pull-right
								New

					- if current_user.observations.count > 1
						%li
							%a{ href: main_app.stats_path }
								%i.fa.fa-bar-chart
								%span
									Charts
								-#%i.fa.fa-angle-right.drop-icon
								-#%ul.submenu
									%li
										%a{ href: main_app.stats_path }
											Charts
									- current_user.metrics.each do |metric|
										%li
											%a{ href: stat_path( metric ) }
												= metric.title
					
					%li{ class: set_css_if( path: '/lifemeter/help' ) }
						%a{ href: main_app.help_lifemeter_index_path }
							%i.fa.fa-question-circle
							%span
								Help & FAQs

					%li
						.text-center{ style: 'margin: 4em 0 1em 0;' }

							%a.btn.btn-default{ href: 'https://www.messenger.com/t/lifemeterapp' }
								%img{ src: image_path('facebook-messenger.svg'), style: 'height: 1em;display: inline-block;' }
								Chat on Messenger

							.separator{ style: 'margin-top:2em;' }

							%a{:href => "https://slack.com/oauth/authorize?&client_id=106936814101.204549381329&scope=bot,chat:write:bot"}
								%img{:alt => "Add to Slack", :height => "40", :src => "https://platform.slack-edge.com/img/add_to_slack.png", :srcset => "https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x", :width => "160"}/


	#nav-col-submenu
