.row
	.col-xs-12
		%h1
			Life Meter Help & FAQs
		%p
			Life Meter is a first-of-its-kind natural language platform that let's you easily track any health-related metrics or activities.
		%p
			Life Meter is designed to help you get the most out of life by making it easy to measure, control, and analyze the behaviors most important to your health and wellbeing. Read on to get the most out of your Life Meter!

		%p
			%strong
				What can Life Meter do?
		%p
			In a nutshell, you can use Life Meter to track, report on, and analyze any vital stat that you care about. You can log and track information like your weight or pulse. You can track your calories or macronutrtients. You can use Life Meter as a timer to log and track time you spend doing various activities. Life Meter will keep track of everything you report to it and give you useful reports andinsights into your data. You can even set targets for anything you track. Want to keep your caloric intake under 2000 calories per day? Just let Life Meter know, and it will let you know how many calories ou've eaten and how many you have left until your target.

		%p
			%strong
				Getting Started
		%p
			To use Life Meter you need an account. To get an account, you need an invitation. 

		%p
			%strong
				Tracking things
		%p
