.bannercontainer.bannerV1
	.fullscreenbanner-container
		.fullscreenbanner
			%ul
				%li{ data: { slotamaount: 5, masterspeed: 700, title: 'Slide1' } }
					= image_tag "app_theme/home/banner-slider/slider-bg.jpg", alt: "slider-bg", 'data-bgfit' => "cover", 'data-bgposition' => "center center", 'data-bgrepeat' => "no-repeat"
					.slider-caption.slider-captionV1.container
						.tp-caption.rs-caption-1.sft.start{ data: { hoffset: 0, x: 570, y: 54, speed: 800, start: 1500, easing: "Back.easeInOut", endspeed: 300 } }
							= image_tag "app_theme/home/banner-slider/shirt1.png", alt: "slider-image"
						.tp-caption.rs-caption-2.sft{ data: { hoffset: 0, y: 119, speed: 800, start: 2000, easing: "Back.easeInOut", endspeed: 300 } }
							Fit AF Ladies T
						.tp-caption.rs-caption-3.sft{ data: { hoffset: 0, y: 185, speed: 1000, start: 3000, easing: "Power4.easeOut", endspeed: 300, endeasing: 'Power1.easeIn', captionhidden: 'off' } }
							%small
								Spring / Summer 2017
							%br
							AMRAP Life Exclusive
							
						.tp-caption.rs-caption-4.sft{ data: { hoffset: 0, y: 320, speed: 800, start: 3500, easing: "Power4.easeOut", endspeed: 300, endeasing: 'Power1.easeIn', captionhidden: 'off' } }
							%span.page-scroll
								%a.btn.primary-btn{ href: '/store' }
									Buy Now
									%i.fa.fa-chevron-right

				%li{ data: { slotamaount: 5, masterspeed: 1000, title: 'Slide2' } }
					= image_tag "app_theme/home/banner-slider/slider-bg.jpg", alt: "slider-bg", 'data-bgfit' => "cover", 'data-bgposition' => "center center", 'data-bgrepeat' => "no-repeat"
					.slider-caption.slider-captionV1.container.captionCenter
						.tp-caption.rs-caption-1.sft.start.text-center{ data: { x: -50, y: 128, speed: 800, start: 1500, easing: "Back.easeInOut", endspeed: 300 } }
							= image_tag "app_theme/home/banner-slider/shirt2.png", alt: "slider-image"
						.tp-caption.rs-caption-2.sft.text-center{ data: { x: 'center', y: 20, speed: 800, start: 2000, easing: "Back.easeInOut", endspeed: 300 } }
							Burpee AMRAP Ladies Tank

						.tp-caption.rs-caption-4.sft.text-center{ data: { x: 'center', y: 68, speed: 1000, start: 3000, easing: "Power4.easeOut", endspeed: 300, endeasing: 'Power1.easeIn', captionhidden: 'off' } }
							%span.page-scroll
								%a.btn.primary-btn{ href: '/store' }
									Buy Now
									%i.fa.fa-chevron-right



