#header.header-navbar{ role: :navigation }
	.header-navbar-inner.container
		#brand.navbar-brand
			%a{ href: '/' }
				= image_tag 'amrap_logo_wht.png', width: 244, height: 56, style: 'border-left: 5px solid #9c27b0;border-right: 5px solid #9c27b0;'
		%ul.nav.nav-pages.hidden-xs
			%li{ style: 'font-size:110%;' }
				%a{ href: 'http://facebook.com/amraplife', target: '_new' }
					%i.fa.fa-facebook-square
			%li{ style: 'font-size:110%;' }
				%a{ href: 'http://twitter.com/amraplife', target: '_new' }
					%i.fa.fa-twitter-square
			%li{ style: 'font-size:110%;' }
				%a{ href: 'http://pinterest.com/amraplife', target: '_new' }
					%i.fa.fa-pinterest-square
			%li{ style: 'font-size:110%;' }
				%a{ href: 'https://www.instagram.com/amrap_life/', target: '_new' }
					%i.fa.fa-instagram

			%li
				%a{ href: '/about' }
					About
			%li
				%a{ href: '/contacts/new' }
					Contact
		%ul.nav.nav-icons
			%li
				%a.btn-icon
					%span.search-toggled-out-icon
						%i.fa.fa-search
		%ul.nav.navbar-nav
			%li
				%a{ href: swell_media.articles_path }
					Articles
			- if Recipe.published.count >= 5
				%li
					%a{ href: '/recipes' }
						Recipes
			-#%li
				%a{ href: '#' }
					Places
			- if Workout.published.count >= 5
				%a{ href: '/workouts' }
					Workouts
			-#%li
				%a{ href: '#' }
					Trainers
			%li
				%a{ href: '#', data: { toggle: :li } }
					Store
				.subnav-wrapper
					%ul.subnav
						%li
							%a{ href: '/store' }
								Everything

						- ProductCategory.all.each do |cat|
							%li
								= link_to cat, products_path( category: cat )

