:javascript

	(function () {
	var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
	if (window.ShopifyBuy) {
	if (window.ShopifyBuy.UI) {
	ShopifyBuyInit();
	} else {
	loadScript();
	}
	} else {
	loadScript();
	}

	function loadScript() {
	var script = document.createElement('script');
	script.async = true;
	script.src = scriptURL;
	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
	script.onload = ShopifyBuyInit;
	}

	function ShopifyBuyInit() {

	var client = ShopifyBuy.buildClient({
	domain: 'amrap-life.myshopify.com',
	apiKey: 'adaf23c3ed92d33baae466d951e00cd2',
	appId: '6',
	});

	ShopifyBuy.UI.onReady(client).then(function (ui) {

	ui.createComponent('product', {
	id: 1234567,
	options: {
	product: {
	buttonDestination: 'modal'
	},
	cart: {
	}
	}
	});

	});
	}

	})();
