%aside.widget
	%h2.widget-title.ribbon
		%span Featured
	.entries.row
		- Product.published.order( publish_at: :desc ).limit( 5 ).each do |product|
			.product
				%a{ href: product.url }
					%center
						%img.img.img-responsive{:alt => product.title, :src => product.avatar, width: '80%' }
				%p{ style: 'text-align:center;' }
					%a{ href: product.url }
						%span.price-info{ style: 'font-size:100%;' }
							%span.price{ style: 'font-weight:600;color:#555;'}
								= number_to_currency( product.price.to_f / 100 )
							- if product.suggested_price > 0
								%span.strikethrough{ style: 'text-decoration:line-through;font-size:90%;' }
									= number_to_currency( product.suggested_price.to_f / 100 )




