
- cache( "places/index" ) do
	%section.clearfix.blogPage{ style: 'padding-top: 50px;' }
		.container
			.row
				.col-md-9.col-sm-8.col-xs-12

					- @places.each do |place|
						= render 'row', place: place

					.paginator{ style: 'margin-bottom: 2em;' }
						= raw paginate @places
					
				.sideBar.col-md-3.col-sm-4.col-xs-12
					= render 'places/sidebar'

